# Series

In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1, 4, 6, 5, 7, 10, 6])

In [3]:
s

0     1
1     4
2     6
3     5
4     7
5    10
6     6
dtype: int64

In [4]:
s[0]

1

In [5]:
s[2:4]

2    6
3    5
dtype: int64

In [6]:
s.describe()

count     7.000000
mean      5.571429
std       2.760262
min       1.000000
25%       4.500000
50%       6.000000
75%       6.500000
max      10.000000
dtype: float64

In [7]:
s.mean()

5.5714285714285712

In [8]:
s.median()

6.0

In [9]:
s.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [10]:
s2 = pd.Series([11, 5, 8])

In [11]:
s = s.append(s2)

In [12]:
s

0     1
1     4
2     6
3     5
4     7
5    10
6     6
0    11
1     5
2     8
dtype: int64

# DataFrame

In [13]:
import pandas as pd

In [14]:
df = pd.DataFrame([
    ['fchollet/keras', 11302],
    ['openai/universe', 4350],
    ['pandas-dev/pandas', 8168]
])

In [15]:
df.shape

(3, 2)

In [16]:
df

                   0      1
0     fchollet/keras  11302
1    openai/universe   4350
2  pandas-dev/pandas   8168

In [17]:
df = pd.DataFrame([
    ['fchollet/keras', 11302],
    ['openai/universe', 4350],
    ['pandas-dev/pandas', 8168]
], columns=['repository', 'stars']                     
)

In [18]:
df

          repository  stars
0     fchollet/keras  11302
1    openai/universe   4350
2  pandas-dev/pandas   8168

In [19]:
df['stars']

0    11302
1     4350
2     8168
Name: stars, dtype: int64

In [20]:
df['repository']

0       fchollet/keras
1      openai/universe
2    pandas-dev/pandas
Name: repository, dtype: object

In [21]:
df['stars'].mean()

7940.0

In [22]:
df['stars'].median()

8168.0

In [23]:
df['stars'].describe()

count        3.000000
mean      7940.000000
std       3481.603653
min       4350.000000
25%       6259.000000
50%       8168.000000
75%       9735.000000
max      11302.000000
Name: stars, dtype: float64

In [24]:
df.iloc[1]

repository    openai/universe
stars                    4350
Name: 1, dtype: object

In [25]:
df.iloc[1]['stars']

4350

# Index

In [26]:
import pandas as pd

In [27]:
df = pd.DataFrame([
    ['PE', 'Pernambuco', 'Recife'], ['RJ', 'Rio de Janeiro', 'Rio de Janeiro'],
    ['PB', 'Paraíba', 'João Pessoa'], ['SP', 'São Paulo', 'São Paulo'],
    ['MG', 'Minas Gerais', 'Belo Horizonte'], ['CE', 'Ceará', 'Fortaleza'],
    ['AC', 'Acre', 'Rio Branco'], ['MA', 'Maranhão', 'São Luis'],
    ['RN', 'Rio Grande do Norte', 'Natal'], ['PR', 'Paraná', 'Curitiba'],
    ['RS', 'Rio Grande do Sul', 'Porto Alegre']
], columns=['Sigla', 'Estado', 'Capital'])

In [28]:
df['Sigla']

0     PE
1     RJ
2     PB
3     SP
4     MG
5     CE
6     AC
7     MA
8     RN
9     PR
10    RS
Name: Sigla, dtype: object

In [29]:
df.index

RangeIndex(start=0, stop=11, step=1)

In [30]:
df.ix[0]

c:\desenvolvimento\venv\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Sigla              PE
Estado     Pernambuco
Capital        Recife
Name: 0, dtype: object

In [31]:
df.loc[0]

Sigla              PE
Estado     Pernambuco
Capital        Recife
Name: 0, dtype: object

In [32]:
df.loc[:2]

  Sigla          Estado         Capital
0    PE      Pernambuco          Recife
1    RJ  Rio de Janeiro  Rio de Janeiro
2    PB         Paraíba     João Pessoa

In [33]:
df.iloc[:2]

  Sigla          Estado         Capital
0    PE      Pernambuco          Recife
1    RJ  Rio de Janeiro  Rio de Janeiro

In [34]:
df.index = pd.Index([1,2,3,4,5,6,7,8,9,10,11])

In [35]:
df

   Sigla               Estado         Capital
1     PE           Pernambuco          Recife
2     RJ       Rio de Janeiro  Rio de Janeiro
3     PB              Paraíba     João Pessoa
4     SP            São Paulo       São Paulo
5     MG         Minas Gerais  Belo Horizonte
6     CE                Ceará       Fortaleza
7     AC                 Acre      Rio Branco
8     MA             Maranhão        São Luis
9     RN  Rio Grande do Norte           Natal
10    PR               Paraná        Curitiba
11    RS    Rio Grande do Sul    Porto Alegre

In [36]:
df.index = df['Sigla']

In [37]:
df

      Sigla               Estado         Capital
Sigla
PE       PE           Pernambuco          Recife
RJ       RJ       Rio de Janeiro  Rio de Janeiro
PB       PB              Paraíba     João Pessoa
SP       SP            São Paulo       São Paulo
MG       MG         Minas Gerais  Belo Horizonte
CE       CE                Ceará       Fortaleza
AC       AC                 Acre      Rio Branco
MA       MA             Maranhão        São Luis
RN       RN  Rio Grande do Norte           Natal
PR       PR               Paraná        Curitiba
RS       RS    Rio Grande do Sul    Porto Alegre

In [38]:
df.loc['PE']

Sigla              PE
Estado     Pernambuco
Capital        Recife
Name: PE, dtype: object

In [39]:
del df['Sigla']

In [40]:
df

                    Estado         Capital
Sigla
PE              Pernambuco          Recife
RJ          Rio de Janeiro  Rio de Janeiro
PB                 Paraíba     João Pessoa
SP               São Paulo       São Paulo
MG            Minas Gerais  Belo Horizonte
CE                   Ceará       Fortaleza
AC                    Acre      Rio Branco
MA                Maranhão        São Luis
RN     Rio Grande do Norte           Natal
PR                  Paraná        Curitiba
RS       Rio Grande do Sul    Porto Alegre

# Carregando Dataset's com pydataset

In [41]:
import pandas as pd
import pydataset

In [42]:
pydataset.data()

,dataset_id,title
0,AirPassengers,Monthly Airline Passenger Numbers 1949-1960
1,BJsales,Sales Data with Leading Indicator
2,BOD,Biochemical Oxygen Demand
3,Formaldehyde,Determination of Formaldehyde
4,HairEyeColor,Hair and Eye Color of Statistics Students
5,InsectSprays,Effectiveness of Insect Sprays
6,JohnsonJohnson,Quarterly Earnings per Johnson & Johnson Share
7,LakeHuron,Level of Lake Huron 1875-1972
8,LifeCycleSavings,Intercountry Life-Cycle Savings Data
9,Nile,Flow of the River Nile
10,OrchardSprays,Potency of Orchard Sprays
11,PlantGrowth,Results from an Experiment on Plant Growth
12,Puromycin,Reaction Velocity of an Enzymatic Reaction
13,Titanic,Survival of passengers on the Titanic
14,ToothGrowth,The Effect of Vitamin C on Tooth Growth in Guinea Pigs
15,UCBAdmissions,Student Admissions at UC Berkeley
16,UKDriverDeaths,Road Casualties in Great Britain 1969-84
17,UKgas,UK Quarterly Gas Consumption
18,USAccDeaths,Accidental Deaths in the US 1973-1978
19,USArrests,Violent Crime Rates by US State
20,USJudgeRatings,Lawyers' Ratings of State Judges in the US Superior Court
21,USPersonalExpenditure,Personal Expenditure Data
22,VADeaths,Death Rates in Virginia (1940)
23,WWWusage,Internet Usage per Minute
24,WorldPhones,The World's Telephones
25,airmiles,"Passenger Miles on Commercial US Airlines, 1937-1960"
26,airquality,New York Air Quality Measurements
27,anscombe,Anscombe's Quartet of 'Identical' Simple Linear Regressions
28,attenu,The Joyner-Boore Attenuation Data
29,attitude,The Chatterjee-Price Attitude Data
30,austres,Quarterly Time Series of the Number of Australian Residents
31,cars,Speed and Stopping Distances of Cars
32,chickwts,Chicken Weights by Feed Type
33,co2,Mauna Loa Atmospheric CO2 Concentration
34,crimtab,Student's 3000 Criminals Data
35,discoveries,Yearly Numbers of Important Discoveries
36,esoph,"Smoking, Alcohol and (O)esophageal Cancer"
37,euro,Conversion Rates of Euro Currencies
38,faithful,Old Faithful Geyser Data
39,freeny,Freeny's Revenue Data
40,infert,Infertility after Spontaneous and Induced Abortion
41,iris,Edgar Anderson's Iris Data
42,islands,Areas of the World's Major Landmasses
43,lh,Luteinizing Hormone in Blood Samples
44,longley,Longley's Economic Regression Data
45,lynx,Annual Canadian Lynx trappings 1821-1934
46,morley,Michelson Speed of Light Data
47,mtcars,Motor Trend Car Road Tests
48,nhtemp,Average Yearly Temperatures in New Haven
49,nottem,"Average Monthly Temperatures at Nottingham, 1920-1939"
50,npk,"Classical N, P, K Factorial Experiment"
51,occupationalStatus,Occupational Status of Fathers and their Sons
52,precip,Annual Precipitation in US Cities
53,presidents,Quarterly Approval Ratings of US Presidents
54,pressure,Vapor Pressure of Mercury as a Function of Temperature
55,quakes,Locations of Earthquakes off Fiji
56,randu,Random Numbers from Congruential Generator RANDU
57,rivers,Lengths of Major North American Rivers
58,rock,Measurements on Petroleum Rock Samples
59,sleep,Student's Sleep Data
60,stackloss,Brownlee's Stack Loss Plant Data
61,sunspot.month,"Monthly Sunspot Data, from 1749 to ""Present"""
62,sunspot.year,"Yearly Sunspot Data, 1700-1988"
63,sunspots,"Monthly Sunspot Numbers, 1749-1983"
64,swiss,Swiss Fertility and Socioeconomic Indicators (1888) Data
65,treering,"Yearly Treering Data, -6000-1979"
66,trees,"Girth, Height and Volume for Black Cherry Trees"
67,uspop,Populations Recorded by the US Census
68,volcano,Topographic Information on Auckland's Maunga Whau Volcano
69,warpbreaks,The Number of Breaks in Yarn during Weaving
70,women,Average Heights and Weights for American Women
71,acme,Monthly Excess Returns
72,aids,Delay in AIDS Reporting in England and Wales
73,aircondit,Failures of Air-conditioning Equipment
74,aircondit7,Failures of Air-conditioning Equipment
75,amis,Car Speeding and Warning Signs
76,aml,Remission Times for Acute Myelogenous Leukaemia
77,bigcity,Population of U.S. Cities
78,brambles,Spatial Location of Bramble Canes
79,breslow,Smoking Deaths Among Doctors
80,calcium,Calcium Uptake Data
81,cane,Sugar-cane Disease Data
82,capability,Simulated Manufacturing Process Data
83,catsM,Weight Data for Domestic Cats
84,cav,Position of Muscle Caveolae
...,...,...
672,students,Student Risk Taking
673,suicides,Crowd Baiting Behaviour and Suicides
674,toothpaste,Toothpaste Data
675,voting,House of Representatives Voting Data
676,water,Mortality and Water Hardness
677,watervoles,Water Voles Data
678,waves,Electricity from Wave Power at Sea
679,weightgain,Gain in Weight of Rats
680,womensrole,Womens Role in Society
681,Bechtoldt,Seven data sets showing a bifactor solution.
682,Bechtoldt.1,Seven data sets showing a bifactor solution.
683,Bechtoldt.2,Seven data sets showing a bifactor solution.
684,Dwyer,8 cognitive variables used by Dwyer for an example.
685,Gleser,"Example data from Gleser, Cronbach and Rajaratnam (1965) to show basic principles of g..."
686,Gorsuch,Example data set from Gorsuch (1997) for an example factor extension.
687,Harman.5,5 socio-economic variables from Harman (1967)
688,Harman.8,"Correlations of eight physical variables (from Harman, 1966)"
689,Harman.political,Eight political variables used by Harman (1967) as example 8.17
690,Holzinger,Seven data sets showing a bifactor solution.
691,Holzinger.9,Seven data sets showing a bifactor solution.
692,Reise,Seven data sets showing a bifactor solution.
693,Schmid,12 variables created by Schmid and Leiman to show the Schmid-Leiman Transformation
694,Thurstone,Seven data sets showing a bifactor solution.
695,Thurstone.33,Seven data sets showing a bifactor solution.
696,Tucker,9 Cognitive variables discussed by Tucker and Lewis (1973)
697,ability,16 ability items scored as correct or incorrect.
698,affect,Two data sets of affect and arousal scores as a function of personality and movie cond...
699,bfi,25 Personality items representing 5 factors
700,bfi.dictionary,25 Personality items representing 5 factors
701,blot,Bond's Logical Operations Test - BLOT
702,burt,11 emotional variables from Burt (1915)
703,cities,Distances between 11 US cities
704,cubits,Galton's example of the relationship between height and 'cubit' or forearm length
705,cushny,A data set from Cushny and Peebles (1905) on the effect of three drugs on hours of sle...
706,epi,Eysenck Personality Inventory (EPI) data for 3570 participants
707,epi.bfi,13 personality scales from the Eysenck Personality Inventory and Big 5 inventory
708,epi.dictionary,Eysenck Personality Inventory (EPI) data for 3570 participants
709,galton,Galton's Mid parent child height data
710,heights,A data.frame of the Galton (1888) height and cubit data set.
711,income,US family income from US census 2008
712,iqitems,16 multiple choice IQ items
713,msq,75 mood items from the Motivational State Questionnaire for 3896 participants
714,neo,NEO correlation matrix from the NEO_PI_R manual
715,peas,Galton's Peas
716,sat.act,"3 Measures of ability: SATV, SATQ, ACT"
717,withinBetween,An example of the distinction between within group and between group correlations
718,Bosco,Boscovich Data
719,CobarOre,Cobar Ore data
720,Mammals,Garland(1983) Data on Running Speed of Mammals
721,barro,Barro Data
722,engel,Engel Data
723,uis,UIS Drug Treatment study data
724,dietox,Growth curves of pigs in a 3x3 factorial experiment
725,koch,Ordinal Data from Koch
726,ohio,Ohio Children Wheeze Status
727,respdis,Clustered Ordinal Respiratory Disorder
728,respiratory,Data from a clinical trial comparing two treatments for a respiratory illness
729,seizure,Epiliptic Seizures
730,sitka89,Growth of Sitka Spruce Trees
731,spruce,Log-size of 79 Sitka spruce trees
732,liver,Liver related laboratory data
733,portpirie,"Rain, wavesurge and portpirie datasets."
734,rain,"Rain, wavesurge and portpirie datasets."
735,summer,"Air pollution data, separately for summer and winter months"
736,wavesurge,"Rain, wavesurge and portpirie datasets."
737,winter,"Air pollution data, separately for summer and winter months"
738,arthritis,Rheumatoid Arthritis Clinical Trial
739,housing,Homeless Data
740,bmw,Daily Log Returns on BMW Share Price
741,danish,Danish Fire Insurance Claims
742,nidd.annual,The River Nidd Data
743,nidd.thresh,The River Nidd Data
744,siemens,Daily Log Returns on Siemens Share Price
745,sp.raw,SP Data to June 1993
746,spto87,SP Return Data to October 1987
747,Dyestuff,Yield of dyestuff by batch
748,Dyestuff2,Yield of dyestuff by batch
749,InstEval,University Lecture/Instructor Evaluations by Students at ETH
750,Pastes,Paste strength by batch and cask
751,Penicillin,Variation in penicillin testing
752,VerbAgg,Verbal Aggression item responses
753,cake,Breakage Angle of Chocolate Cakes
754,cbpp,Contagious bovine pleuropneumonia
755,grouseticks,Data on red grouse ticks from Elston et al. 2001
756,sleepstudy,Reaction times in a sleep deprivation study

In [43]:
type(pydataset.data())

pandas.core.frame.DataFrame

In [44]:
titanic = pydataset.data('titanic')

In [45]:
titanic.head()

       class     age  sex survived
1  1st class  adults  man      yes
2  1st class  adults  man      yes
3  1st class  adults  man      yes
4  1st class  adults  man      yes
5  1st class  adults  man      yes

In [46]:
titanic.tail()

          class    age    sex survived
1312  3rd class  child  women       no
1313  3rd class  child  women       no
1314  3rd class  child  women       no
1315  3rd class  child  women       no
1316  3rd class  child  women       no

In [47]:
titanic.describe()

            class     age   sex survived
count        1316    1316  1316     1316
unique          3       2     2        2
top     3rd class  adults   man       no
freq          706    1207   869      817

In [48]:
titanic['class'].value_counts()

3rd class    706
1st class    325
2nd class    285
Name: class, dtype: int64

In [49]:
len(pydataset.data())

757

# Carregando DataSet's com db.py

In [50]:
from db import DB

In [51]:
database = DB(filename='logs.sqlite3', dbtype='sqlite')

Indexing schema. This will take a second...finished!

In [52]:
database.tables

Refreshing schema. Please wait...done!

+--------+-------+-------------------------+
| Schema | Table | Columns                 |
+--------+-------+-------------------------+
| public | log   | id, path, user_id, date |
+--------+-------+-------------------------+

In [53]:
log_df = database.tables.log

In [54]:
log_df

+---------------------------------------------------+
|                        log                        |
+---------+---------+--------------+----------------+
| Column  | Type    | Foreign Keys | Reference Keys |
+---------+---------+--------------+----------------+
| id      | integer |              |                |
| path    | text    |              |                |
| user_id | integer |              |                |
| date    | numeric |              |                |
+---------+---------+--------------+----------------+

In [55]:
log_df = database.tables.log.all()

In [56]:
log_df

     id                  path  user_id                 date
0     1                     /        3  2017-01-03T11:41:00
1     2              /pandas/        4  2017-01-03T11:37:00
2     3              /videos/        5  2017-01-03T10:47:00
3     4                     /        2  2017-01-03T11:51:00
4     5  /python-para-zumbis/        5  2017-01-03T10:32:00
5     6              /cursos/        3  2017-01-03T11:31:00
6     7              /videos/        4  2017-01-03T10:39:00
7     8              /cursos/        5  2017-01-03T10:55:00
8     9                     /        4  2017-01-03T11:50:00
9    10              /pandas/        1  2017-01-03T11:38:00
10   11    /django-ecommerce/        5  2017-01-03T11:42:00
11   12                     /        4  2017-01-03T11:50:00
12   13    /django-ecommerce/        3  2017-01-03T11:59:00
13   14    /django-ecommerce/        4  2017-01-03T10:43:00
14   15  /python-para-zumbis/        5  2017-01-03T11:53:00
15   16              /cursos/        3  2017-01-03T11:39:00
16   17    /django-ecommerce/        5  2017-01-03T11:40:00
17   18  /python-para-zumbis/        5  2017-01-03T11:45:00
18   19              /pandas/        2  2017-01-03T11:36:00
19   20    /django-ecommerce/        2  2017-01-03T10:31:00
20   21              /videos/        2  2017-01-03T11:33:00
21   22    /django-ecommerce/        3  2017-01-03T10:35:00
22   23                     /        1  2017-01-03T11:56:00
23   24    /django-ecommerce/        4  2017-01-03T11:51:00
24   25              /cursos/        1  2017-01-03T10:54:00
25   26              /cursos/        4  2017-01-03T11:59:00
26   27  /python-para-zumbis/        2  2017-01-03T10:43:00
27   28    /django-ecommerce/        3  2017-01-03T11:57:00
28   29              /pandas/        1  2017-01-03T10:42:00
29   30              /cursos/        5  2017-01-03T10:57:00
30   31              /pandas/        2  2017-01-03T10:37:00
31   32    /django-ecommerce/        2  2017-01-03T10:51:00
32   33                     /        2  2017-01-03T10:42:00
33   34              /pandas/        3  2017-01-03T11:43:00
34   35              /videos/        4  2017-01-03T11:46:00
35   36  /python-para-zumbis/        5  2017-01-03T11:46:00
36   37                     /        5  2017-01-03T10:51:00
37   38              /videos/        3  2017-01-03T11:58:00
38   39    /django-ecommerce/        2  2017-01-03T11:37:00
39   40  /python-para-zumbis/        4  2017-01-03T11:31:00
40   41  /python-para-zumbis/        2  2017-01-03T11:48:00
41   42              /videos/        4  2017-01-03T11:37:00
42   43    /django-ecommerce/        1  2017-01-03T10:33:00
43   44              /cursos/        1  2017-01-03T10:57:00
44   45              /cursos/        4  2017-01-03T11:55:00
45   46                     /        5  2017-01-03T10:51:00
46   47              /pandas/        3  2017-01-03T10:55:00
47   48    /django-ecommerce/        4  2017-01-03T10:36:00
48   49              /videos/        2  2017-01-03T11:30:00
49   50                     /        4  2017-01-03T11:37:00
50   51  /python-para-zumbis/        3  2017-01-03T11:57:00
51   52    /django-ecommerce/        4  2017-01-03T10:46:00
52   53              /pandas/        2  2017-01-03T11:34:00
53   54              /videos/        1  2017-01-03T11:37:00
54   55                     /        1  2017-01-03T11:41:00
55   56                     /        3  2017-01-03T11:45:00
56   57  /python-para-zumbis/        5  2017-01-03T11:57:00
57   58              /cursos/        2  2017-01-03T10:31:00
58   59  /python-para-zumbis/        5  2017-01-03T10:36:00
59   60              /videos/        3  2017-01-03T11:37:00
60   61    /django-ecommerce/        4  2017-01-03T10:45:00
61   62    /django-ecommerce/        2  2017-01-03T10:59:00
62   63  /python-para-zumbis/        5  2017-01-03T11:46:00
63   64                     /        3  2017-01-03T10:48:00
64   65    /django-ecommerce/        5  2017-01-03T11:51:00
65   66    /django-ecommerce/        3  2017-01-03T10:54:00
66   67                     /        4  2017-01-03T11:31:00
67   68              /cursos/        5  2017-01-03T10:47:00
68   69  /python-para-zumbis/        3  2017-01-03T11:50:00
69   70              /pandas/        5  2017-01-03T10:38:00
70   71              /videos/        1  2017-01-03T11:50:00
71   72              /videos/        5  2017-01-03T11:59:00
72   73                     /        3  2017-01-03T11:49:00
73   74                     /        2  2017-01-03T11:34:00
74   75              /pandas/        4  2017-01-03T11:35:00
75   76              /pandas/        1  2017-01-03T11:48:00
76   77              /pandas/        2  2017-01-03T11:35:00
77   78  /python-para-zumbis/        3  2017-01-03T11:54:00
78   79              /pandas/        3  2017-01-03T11:57:00
79   80              /videos/        3  2017-01-03T11:32:00
80   81              /pandas/        2  2017-01-03T10:36:00
81   82    /django-ecommerce/        3  2017-01-03T11:39:00
82   83              /pandas/        3  2017-01-03T11:51:00
83   84              /videos/        1  2017-01-03T11:51:00
84   85    /django-ecommerce/        3  2017-01-03T10:45:00
85   86              /videos/        4  2017-01-03T11:59:00
86   87              /cursos/        2  2017-01-03T10:47:00
87   88                     /        5  2017-01-03T11:56:00
88   89  /python-para-zumbis/        1  2017-01-03T11:34:00
89   90  /python-para-zumbis/        2  2017-01-03T11:35:00
90   91              /pandas/        2  2017-01-03T11:33:00
91   92  /python-para-zumbis/        1  2017-01-03T11:33:00
92   93              /videos/        2  2017-01-03T11:59:00
93   94    /django-ecommerce/        3  2017-01-03T11:54:00
94   95              /pandas/        2  2017-01-03T11:39:00
95   96    /django-ecommerce/        1  2017-01-03T10:49:00
96   97                     /        5  2017-01-03T10:33:00
97   98              /cursos/        5  2017-01-03T10:31:00
98   99  /python-para-zumbis/        3  2017-01-03T10:56:00
99  100              /cursos/        4  2017-01-03T11:46:00

In [57]:
# log_df = database.query('select * from log where user_id = 3')
log_df = database.query('select * from log')

In [58]:
log_df

     id                  path  user_id                 date
0     1                     /        3  2017-01-03T11:41:00
1     2              /pandas/        4  2017-01-03T11:37:00
2     3              /videos/        5  2017-01-03T10:47:00
3     4                     /        2  2017-01-03T11:51:00
4     5  /python-para-zumbis/        5  2017-01-03T10:32:00
5     6              /cursos/        3  2017-01-03T11:31:00
6     7              /videos/        4  2017-01-03T10:39:00
7     8              /cursos/        5  2017-01-03T10:55:00
8     9                     /        4  2017-01-03T11:50:00
9    10              /pandas/        1  2017-01-03T11:38:00
10   11    /django-ecommerce/        5  2017-01-03T11:42:00
11   12                     /        4  2017-01-03T11:50:00
12   13    /django-ecommerce/        3  2017-01-03T11:59:00
13   14    /django-ecommerce/        4  2017-01-03T10:43:00
14   15  /python-para-zumbis/        5  2017-01-03T11:53:00
15   16              /cursos/        3  2017-01-03T11:39:00
16   17    /django-ecommerce/        5  2017-01-03T11:40:00
17   18  /python-para-zumbis/        5  2017-01-03T11:45:00
18   19              /pandas/        2  2017-01-03T11:36:00
19   20    /django-ecommerce/        2  2017-01-03T10:31:00
20   21              /videos/        2  2017-01-03T11:33:00
21   22    /django-ecommerce/        3  2017-01-03T10:35:00
22   23                     /        1  2017-01-03T11:56:00
23   24    /django-ecommerce/        4  2017-01-03T11:51:00
24   25              /cursos/        1  2017-01-03T10:54:00
25   26              /cursos/        4  2017-01-03T11:59:00
26   27  /python-para-zumbis/        2  2017-01-03T10:43:00
27   28    /django-ecommerce/        3  2017-01-03T11:57:00
28   29              /pandas/        1  2017-01-03T10:42:00
29   30              /cursos/        5  2017-01-03T10:57:00
30   31              /pandas/        2  2017-01-03T10:37:00
31   32    /django-ecommerce/        2  2017-01-03T10:51:00
32   33                     /        2  2017-01-03T10:42:00
33   34              /pandas/        3  2017-01-03T11:43:00
34   35              /videos/        4  2017-01-03T11:46:00
35   36  /python-para-zumbis/        5  2017-01-03T11:46:00
36   37                     /        5  2017-01-03T10:51:00
37   38              /videos/        3  2017-01-03T11:58:00
38   39    /django-ecommerce/        2  2017-01-03T11:37:00
39   40  /python-para-zumbis/        4  2017-01-03T11:31:00
40   41  /python-para-zumbis/        2  2017-01-03T11:48:00
41   42              /videos/        4  2017-01-03T11:37:00
42   43    /django-ecommerce/        1  2017-01-03T10:33:00
43   44              /cursos/        1  2017-01-03T10:57:00
44   45              /cursos/        4  2017-01-03T11:55:00
45   46                     /        5  2017-01-03T10:51:00
46   47              /pandas/        3  2017-01-03T10:55:00
47   48    /django-ecommerce/        4  2017-01-03T10:36:00
48   49              /videos/        2  2017-01-03T11:30:00
49   50                     /        4  2017-01-03T11:37:00
50   51  /python-para-zumbis/        3  2017-01-03T11:57:00
51   52    /django-ecommerce/        4  2017-01-03T10:46:00
52   53              /pandas/        2  2017-01-03T11:34:00
53   54              /videos/        1  2017-01-03T11:37:00
54   55                     /        1  2017-01-03T11:41:00
55   56                     /        3  2017-01-03T11:45:00
56   57  /python-para-zumbis/        5  2017-01-03T11:57:00
57   58              /cursos/        2  2017-01-03T10:31:00
58   59  /python-para-zumbis/        5  2017-01-03T10:36:00
59   60              /videos/        3  2017-01-03T11:37:00
60   61    /django-ecommerce/        4  2017-01-03T10:45:00
61   62    /django-ecommerce/        2  2017-01-03T10:59:00
62   63  /python-para-zumbis/        5  2017-01-03T11:46:00
63   64                     /        3  2017-01-03T10:48:00
64   65    /django-ecommerce/        5  2017-01-03T11:51:00
65   66    /django-ecommerce/        3  2017-01-03T10:54:00
66   67                     /        4  2017-01-03T11:31:00
67   68              /cursos/        5  2017-01-03T10:47:00
68   69  /python-para-zumbis/        3  2017-01-03T11:50:00
69   70              /pandas/        5  2017-01-03T10:38:00
70   71              /videos/        1  2017-01-03T11:50:00
71   72              /videos/        5  2017-01-03T11:59:00
72   73                     /        3  2017-01-03T11:49:00
73   74                     /        2  2017-01-03T11:34:00
74   75              /pandas/        4  2017-01-03T11:35:00
75   76              /pandas/        1  2017-01-03T11:48:00
76   77              /pandas/        2  2017-01-03T11:35:00
77   78  /python-para-zumbis/        3  2017-01-03T11:54:00
78   79              /pandas/        3  2017-01-03T11:57:00
79   80              /videos/        3  2017-01-03T11:32:00
80   81              /pandas/        2  2017-01-03T10:36:00
81   82    /django-ecommerce/        3  2017-01-03T11:39:00
82   83              /pandas/        3  2017-01-03T11:51:00
83   84              /videos/        1  2017-01-03T11:51:00
84   85    /django-ecommerce/        3  2017-01-03T10:45:00
85   86              /videos/        4  2017-01-03T11:59:00
86   87              /cursos/        2  2017-01-03T10:47:00
87   88                     /        5  2017-01-03T11:56:00
88   89  /python-para-zumbis/        1  2017-01-03T11:34:00
89   90  /python-para-zumbis/        2  2017-01-03T11:35:00
90   91              /pandas/        2  2017-01-03T11:33:00
91   92  /python-para-zumbis/        1  2017-01-03T11:33:00
92   93              /videos/        2  2017-01-03T11:59:00
93   94    /django-ecommerce/        3  2017-01-03T11:54:00
94   95              /pandas/        2  2017-01-03T11:39:00
95   96    /django-ecommerce/        1  2017-01-03T10:49:00
96   97                     /        5  2017-01-03T10:33:00
97   98              /cursos/        5  2017-01-03T10:31:00
98   99  /python-para-zumbis/        3  2017-01-03T10:56:00
99  100              /cursos/        4  2017-01-03T11:46:00

# Carregando DataSet's em CSV/Excel

In [1]:
import pandas as pd

In [2]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, skip_footer=0, doublequote=True, delim_whitespace=False, as_recarray=None, compact_ints=None, use_unsigned=None, low_memory=True, buffer_lines=None, memory_map=False, float_precision=None)
    Read CSV (comma-separated) file into DataFrame

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the `online docs for IO Tools
    <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, pathlib.Path, py._path.local.LocalPath or any object with a read() method (such as a file handle or StringIO)
        The string could be a URL. Valid URL schemes include http, ftp, s3, and
        file. For file URLs, a host is expected. For instance, a local file could
        be file ://localhost/path/to/table.csv
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``
    delimiter : str, default ``None``
        Alternative argument name for sep.
    delim_whitespace : boolean, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    header : int or list of ints, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so header=0 denotes the first line of
        data rather than the first line of the file.
    names : array-like, default None
        List of column names to use. If file contains no header row, then you
        should explicitly pass header=None. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int or sequence or False, default None
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider index_col=False to force pandas to _not_
        use the first column as the index (row names)
    usecols : array-like or callable, default None
        Return a subset of the columns. If array-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid array-like
        `usecols` parameter would be [0, 1, 2] or ['foo', 'bar', 'baz'].

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    as_recarray : boolean, default False
        .. deprecated:: 0.19.0
           Please call `pd.read_csv(...).to_records()` instead.

        Return a NumPy recarray instead of a DataFrame after parsing the data.
        If set to True, this option takes precedence over the `squeeze` parameter.
        In addition, as row indices are not available in such a format, the
        `index_col` parameter will be ignored.
    squeeze : boolean, default False
        If the parsed data only contains one column then return a Series
    prefix : str, default None
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : boolean, default True
        Duplicate columns will be specified as 'X.0'...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `str` or `object` to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels
    true_values : list, default None
        Values to consider as True
    false_values : list, default None
        Values to consider as False
    skipinitialspace : boolean, default False
        Skip spaces after delimiter.
    skiprows : list-like or integer or callable, default None
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c')
    skip_footer : int, default 0
        .. deprecated:: 0.19.0
           Use the `skipfooter` parameter instead, as they are identical
    nrows : int, default None
        Number of rows of file to read. Useful for reading pieces of large files
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        If na_values are specified and keep_default_na is False the default NaN
        values are overridden, otherwise they're appended to.
    na_filter : boolean, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file
    verbose : boolean, default False
        Indicate number of NA values placed in non-numeric columns
    skip_blank_lines : boolean, default True
        If True, skip over blank lines rather than interpreting as NaN values
    parse_dates : boolean or list of ints or names or list of lists or dict, default False

        * boolean. If True -> try parsing the index.
        * list of ints or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call result
          'foo'

        If a column or index contains an unparseable date, the entire column or
        index will be returned unaltered as an object data type. For non-standard
        datetime parsing, use ``pd.to_datetime`` after ``pd.read_csv``

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : boolean, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : boolean, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, default None
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : boolean, default False
        DD/MM format dates, international and European format
    iterator : boolean, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, default None
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, default None
        Thousands separator
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    float_precision : string, default None
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.
    lineterminator : str (length 1), default None
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : boolean, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), default None
        One-character string used to escape delimiter when quoting is QUOTE_NONE.
    comment : str, default None
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if comment='#', parsing '#empty\na,b,c\n1,2,3'
        with `header=0` will result in 'a,b,c' being
        treated as the header.
    encoding : str, default None
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_
    dialect : str or csv.Dialect instance, default None
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : boolean, default False
        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns)
    error_bad_lines : boolean, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : boolean, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    low_memory : boolean, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser)
    buffer_lines : int, default None
        .. deprecated:: 0.19.0
           This argument is not respected by the parser
    compact_ints : boolean, default False
        .. deprecated:: 0.19.0
           Argument moved to ``pd.to_numeric``

        If compact_ints is True, then for any column that is of integer dtype,
        the parser will attempt to cast it as the smallest integer dtype possible,
        either signed or unsigned depending on the specification from the
        `use_unsigned` parameter.
    use_unsigned : boolean, default False
        .. deprecated:: 0.19.0
           Argument moved to ``pd.to_numeric``

        If integer columns are being compacted (i.e. `compact_ints=True`), specify
        whether the column should be compacted to the smallest signed or unsigned
        integer dtype.
    memory_map : boolean, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.

    Returns
    -------
    result : DataFrame or TextParser

In [3]:
copacabana = pd.read_csv('copacabana.csv', delimiter=';')

In [4]:
copacabana

,Posicao,Quartos,Vagas,DistIpanema,DistPraia,DistFavela,RendaMedia,RendaMovel,RendaMovelRua,Vu2009,Mes,Idade,Tipologia,AreaConstruida,VAL_UNIT,X,Y
0,1,3.00,0.01,1144,311,146,969501,1028834,999168,1750,509,37.00,1,95,4379,685365.0700,7457802.680
1,0,2.00,0.01,2456,502,254,1472861,1137759,1305310,2300,484,30.00,1,71,6479,685941.5500,7459001.320
2,0,2.00,0.01,2448,772,229,1803724,1512475,1658100,2350,920,44.00,1,58,12414,685627.3900,7459080.520
3,0,2.00,0.01,1615,428,310,1124331,1370600,1247466,2200,930,43.00,1,88,11250,685438.2001,7458268.280
4,0,2.00,1.00,2358,586,287,1165764,1177933,1171849,2150,918,42.00,1,68,13382,685764.3840,7458954.513
5,0,2.00,1.00,2358,586,287,1165764,1177933,1171849,2150,825,42.00,1,68,11618,685764.3840,7458954.513
6,0,3.00,0.01,2537,758,115,994427,1037602,1016015,1850,864,43.00,1,103,6505,685723.3600,7459150.250
7,0,0.01,0.01,555,332,306,1140573,1064998,1102786,2450,554,40.00,2,39,6410,685263.3300,7457221.990
8,0,1.00,0.01,555,332,306,1140573,1064998,1102786,2450,830,43.00,1,22,14545,685263.3300,7457221.990
9,0,1.00,0.01,555,332,306,1140573,1064998,1102786,2450,940,43.00,1,27,11111,685263.3300,7457221.990
10,1,1.00,0.01,555,332,306,1140573,1064998,1102786,2450,918,43.00,1,20,19500,685263.3300,7457221.990
11,1,0.01,0.01,555,332,306,1140573,1064998,1102786,2450,918,43.00,1,22,13636,685263.3300,7457221.990
12,1,0.01,0.01,555,332,306,1140573,1064998,1102786,2450,864,43.00,1,20,20500,685263.3300,7457221.990
13,1,3.00,1.00,2498,716,148,1281444,1281444,1281444,1900,830,43.00,1,74,10135,685737.4900,7459106.520
14,1,2.00,0.01,2498,716,148,1281444,1281444,1281444,1900,830,43.00,1,62,10081,685737.4900,7459106.520
15,1,2.00,0.01,2498,716,148,1281444,1281444,1281444,1900,920,43.00,1,59,10508,685737.4900,7459106.520
16,0,2.00,1.00,2498,716,148,1281444,1281444,1281444,1900,360,40.00,1,74,4189,685737.4900,7459106.520
17,0,2.00,0.01,2835,330,629,1124331,727350,925841,2100,385,40.00,1,64,5313,686482.9500,7459173.830
18,1,2.00,2.00,2835,330,629,1124331,727350,925841,2100,918,43.00,1,64,11875,686482.9500,7459173.830
19,0,3.00,0.01,1987,494,510,1369604,1453409,1411507,2600,920,44.00,1,82,10610,685585.7600,7458617.750
20,1,0.01,0.01,2057,307,621,1395924,1176888,1286406,2350,792,43.00,2,15,16667,685829.6300,7458617.410
21,1,0.01,0.01,2057,307,621,1395924,1176888,1286406,2350,801,43.00,1,15,22667,685829.6300,7458617.410
22,0,1.00,0.01,2057,307,621,1395924,1176888,1286406,2350,573,41.00,1,15,14000,685829.6300,7458617.410
23,1,1.00,0.01,2057,307,621,1395924,1176888,1286406,2350,425,41.00,2,15,9333,685829.6300,7458617.410
24,1,0.01,0.01,2057,307,621,1395924,1176888,1286406,2350,801,43.00,2,15,18000,685829.6300,7458617.410
25,1,1.00,0.01,2057,307,621,1395924,1176888,1286406,2350,405,41.00,1,20,4500,685829.6300,7458617.410
26,1,3.00,0.01,3207,145,467,1083455,1041944,1062700,2000,509,53.00,1,90,3889,687024.5600,7459269.140
27,0,2.00,0.01,474,212,492,1308645,1445903,1377274,2100,554,38.00,1,58,7759,685416.7700,7457059.020
28,0,2.00,0.01,1191,564,125,2068724,2135043,2101884,2450,445,40.00,1,67,4925,685122.0745,7457874.874
29,0,2.00,0.01,2536,817,156,1165764,881744,1023754,2150,360,40.00,1,81,2593,685652.6700,7459165.230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1645,1,1.00,0.01,1565,702,44,1286868,999741,1143305,1850,904,75.00,1,57,13912,685119.5800,7458248.830
1646,1,2.00,0.01,1565,702,44,1286868,999741,1143305,1850,904,75.00,1,108,12907,685119.5800,7458248.830
1647,1,1.00,1.00,1565,702,44,1286868,999741,1143305,1850,920,75.00,1,57,14211,685119.5800,7458248.830
1648,1,3.00,0.01,1565,702,44,1286868,999741,1143305,1850,904,75.00,1,133,13534,685119.5800,7458248.830
1649,1,1.00,1.00,1565,702,44,1286868,999741,1143305,1850,864,75.00,1,65,13646,685119.5800,7458248.830
1650,0,2.00,2.00,2650,419,381,1357174,1650214,1503694,2500,842,17.00,1,74,13108,686211.6000,7459102.200
1651,0,2.00,2.00,2650,419,381,1357174,1650214,1503694,2500,554,14.00,1,72,6944,686211.6000,7459102.200
1652,0,2.00,2.00,2650,419,381,1357174,1650214,1503694,2500,484,14.00,1,74,7568,686211.6000,7459102.200
1653,0,1.00,0.01,791,445,47,1056413,1199919,1128166,800,825,17.00,1,49,5816,685153.1000,7457474.120
1654,0,4.00,3.00,2442,894,189,1783469,1696269,1739869,2300,920,12.00,1,166,13253,685475.4576,7459100.927
1655,1,2.00,2.00,2853,530,436,1915512,2246429,2080971,2450,930,12.00,1,156,13974,686292.3707,7459288.323
1656,1,1.00,0.01,1669,69,693,1447740,1271491,1359616,2700,385,7.00,1,43,6977,685816.0100,7458204.550
1657,1,1.00,0.01,1669,69,693,1447740,1271491,1359616,2700,405,7.00,1,48,3750,685816.0100,7458204.550
1658,0,1.00,0.01,1669,69,693,1447740,1271491,1359616,2700,573,7.00,1,37,7568,685816.0100,7458204.550
1659,0,1.00,0.01,1669,69,693,1447740,1271491,1359616,2700,573,7.00,1,37,6216,685816.0100,7458204.550
1660,0,1.00,0.01,1669,69,693,1447740,1271491,1359616,2700,445,7.00,1,44,7773,685816.0100,7458204.550
1661,0,1.00,0.01,1669,69,693,1447740,1271491,1359616,2700,862,10.00,1,44,15909,685816.0100,7458204.550
1662,1,3.00,2.00,2564,949,183,1803724,1724790,1764257,2350,425,7.00,1,124,5726,685515.4500,7459218.860
1663,1,2.00,2.00,2391,856,182,1395924,2123522,1759723,1550,792,9.00,1,96,13750,685479.2401,7459049.260
1664,1,1.00,0.01,1163,377,143,969501,996033,982767,1750,509,6.00,3,54,5556,685305.1601,7457833.150
1665,1,1.00,0.01,1163,377,143,969501,996033,982767,1750,862,9.00,3,52,13462,685305.1601,7457833.150
1666,1,2.00,0.01,1163,377,143,969501,996033,982767,1750,445,6.00,3,52,7500,685305.1601,7457833.150
1667,1,1.00,1.00,1163,377,143,969501,996033,982767,1750,573,6.00,3,52,8365,685305.1601,7457833.150
1668,1,2.00,2.00,604,542,106,1056413,1252054,1154234,800,360,5.00,1,81,2716,685047.7900,7457283.270
1669,0,2.00,2.00,2866,562,416,1915512,2101848,2008680,2450,554,2.00,1,75,8533,686269.4600,7459312.080
1670,1,2.00,2.00,2866,562,416,1915512,2101848,2008680,2450,360,2.00,1,114,4210,686269.4600,7459312.080
1671,1,2.00,2.00,2488,1030,106,1395924,1396219,1396072,1550,509,0.01,1,95,4232,685346.9700,7459162.110
1672,1,2.00,2.00,2488,1030,106,1395924,1396219,1396072,1550,509,0.01,1,95,6316,685346.9700,7459162.110
1673,1,2.00,2.00,2488,1030,106,1395924,1396219,1396072,1550,445,0.01,1,113,6785,685346.9700,7459162.110
1674,1,2.00,2.00,2488,1030,106,1395924,1396219,1396072,1550,445,0.01,1,101,6771,685346.9700,7459162.110

In [6]:
populacao_pe = pd.read_excel('total-populacao-pernambuco.xls')

In [7]:
populacao_pe

,Código do município,Nome do município,Total da população 2000,Total de homens,Total de mulheres,Total da população urbana,Total da população rural,Total da população 2010
0,2600054,Abreu e Lima,89039.0,45165.0,49263.0,86589.0,7839.0,94428.0
1,2600104,Afogados da Ingazeira,32922.0,16790.0,18301.0,27406.0,7685.0,35091.0
2,2600203,Afrânio,15014.0,8751.0,8837.0,5859.0,11729.0,17588.0
3,2600302,Agrestina,20036.0,10938.0,11742.0,16955.0,5725.0,22680.0
4,2600401,Água Preta,28531.0,16581.0,16465.0,18708.0,14338.0,33046.0
5,2600500,Águas Belas,36641.0,19545.0,20462.0,24300.0,15707.0,40007.0
6,2600609,Alagoinha,12535.0,6906.0,6855.0,7770.0,5991.0,13761.0
7,2600708,Aliança,37189.0,18579.0,18835.0,20249.0,17165.0,37414.0
8,2600807,Altinho,22131.0,11114.0,11249.0,12781.0,9582.0,22363.0
9,2600906,Amaraji,21309.0,10982.0,10943.0,16033.0,5892.0,21925.0
10,2601003,Angelim,9082.0,5019.0,5185.0,6089.0,4115.0,10204.0
11,2601052,Araçoiaba,15108.0,9014.0,9130.0,15261.0,2883.0,18144.0
12,2601102,Araripina,70898.0,37884.0,39479.0,46975.0,30388.0,77363.0
13,2601201,Arcoverde,61600.0,32563.0,36594.0,62899.0,6258.0,69157.0
14,2601300,Barra de Guabiraba,10939.0,6506.0,6259.0,11379.0,1386.0,12765.0
15,2601409,Barreiros,39139.0,19881.0,20839.0,33969.0,6751.0,40720.0
16,2601508,Belém de Maria,10626.0,5637.0,5712.0,7988.0,3361.0,11349.0
17,2601607,Belém do São Francisco,20208.0,9944.0,10292.0,12582.0,7654.0,20236.0
18,2601706,Belo Jardim,68698.0,34765.0,37647.0,58208.0,14204.0,72412.0
19,2601805,Betânia,11305.0,6014.0,5991.0,3709.0,8296.0,12005.0
20,2601904,Bezerros,57371.0,28051.0,30624.0,49747.0,8928.0,58675.0
21,2602001,Bodocó,31731.0,17643.0,17535.0,12836.0,22342.0,35178.0
22,2602100,Bom Conselho,42085.0,22010.0,23496.0,29782.0,15724.0,45506.0
23,2602209,Bom Jardim,37013.0,18461.0,19367.0,15191.0,22637.0,37828.0
24,2602308,Bonito,37750.0,18575.0,18995.0,26210.0,11360.0,37570.0
25,2602407,Brejão,8916.0,4338.0,4513.0,3571.0,5280.0,8851.0
26,2602506,Brejinho,7278.0,3608.0,3699.0,3386.0,3921.0,7307.0
27,2602605,Brejo da Madre de Deus,38109.0,22150.0,23042.0,35135.0,10057.0,45192.0
28,2602704,Buenos Aires,12007.0,6197.0,6340.0,7917.0,4620.0,12537.0
29,2602803,Buíque,44169.0,25572.0,26418.0,21121.0,30869.0,51990.0
...,...,...,...,...,...,...,...,...
157,2613800,São Vicente Ferrer,16004.0,8364.0,8636.0,11205.0,5795.0,17000.0
158,2613909,Serra Talhada,70912.0,37831.0,41410.0,61288.0,17953.0,79241.0
159,2614006,Serrita,17848.0,9199.0,9132.0,6356.0,11975.0,18331.0
160,2614105,Sertânia,31657.0,16480.0,17243.0,18548.0,15175.0,33723.0
161,2614204,Sirinhaém,33046.0,20350.0,19956.0,21473.0,18833.0,40306.0
162,2614402,Solidão,5532.0,2902.0,2842.0,1831.0,3913.0,5744.0
163,2614501,Surubim,50331.0,27931.0,30513.0,44004.0,14440.0,58444.0
164,2614600,Tabira,24065.0,12969.0,13461.0,19772.0,6658.0,26430.0
165,2614709,Tacaimbó,12929.0,6261.0,6443.0,7076.0,5628.0,12704.0
166,2614808,Tacaratu,17096.0,11162.0,10911.0,9197.0,12876.0,22073.0
167,2614857,Tamandaré,17281.0,10425.0,10320.0,15186.0,5559.0,20745.0
168,2615003,Taquaritinga do Norte,19757.0,12348.0,12575.0,17977.0,6946.0,24923.0
169,2615102,Terezinha,6300.0,3271.0,3466.0,2860.0,3877.0,6737.0
170,2615201,Terra Nova,7518.0,4702.0,4554.0,5015.0,4241.0,9256.0
171,2615300,Timbaúba,56906.0,25906.0,27917.0,46371.0,7452.0,53823.0
172,2615409,Toritama,21800.0,17473.0,18158.0,34198.0,1433.0,35631.0
173,2615508,Tracunhaém,12394.0,6363.0,6692.0,10969.0,2086.0,13055.0
174,2615607,Trindade,21930.0,12889.0,13227.0,22463.0,3653.0,26116.0
175,2615706,Triunfo,15135.0,7180.0,7826.0,7944.0,7062.0,15006.0
176,2615805,Tupanatinga,20801.0,12022.0,12232.0,8496.0,15758.0,24254.0
177,2615904,Tuparetama,7766.0,3852.0,4073.0,6351.0,1574.0,7925.0
178,2616001,Venturosa,13462.0,7869.0,8195.0,10351.0,5713.0,16064.0
179,2616100,Verdejante,8846.0,4484.0,4658.0,2692.0,6450.0,9142.0
180,2616183,Vertente do Lério,8536.0,3878.0,4016.0,1813.0,6081.0,7894.0
181,2616209,Vertentes,14957.0,8976.0,9291.0,12978.0,5289.0,18267.0
182,2616308,Vicência,28820.0,15194.0,15537.0,13805.0,16926.0,30731.0
183,2616407,Vitória de Santo Antão,117609.0,62685.0,67855.0,113481.0,17059.0,130540.0
184,2616506,Xexéu,13597.0,6996.0,7096.0,9165.0,4927.0,14092.0
185,Total,Pernambuco,7918344.0,4229897.0,4566135.0,7049868.0,1746164.0,8796032.0
186,"Fonte: IBGE, Resultados do Censo 2010.",NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Realizando Filtro/Seleção em um DataSet

In [8]:
import pandas as pd

In [9]:
copacabana = pd.read_csv('copacabana.csv', delimiter=';')

In [10]:
copacabana.columns

Index(['Posicao', 'Quartos', 'Vagas', 'DistIpanema', 'DistPraia', 'DistFavela',
       'RendaMedia', 'RendaMovel', 'RendaMovelRua', 'Vu2009', 'Mes', 'Idade',
       'Tipologia', 'AreaConstruida', 'VAL_UNIT', 'X', 'Y'],
      dtype='object')

In [11]:
copacabana['Quartos'].describe()

count    1675.000000
mean        1.767510
std         1.142523
min         0.010000
25%         1.000000
50%         2.000000
75%         3.000000
max         6.000000
Name: Quartos, dtype: float64

In [12]:
copacabana['Quartos'] > 5

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1645    False
1646    False
1647    False
1648    False
1649    False
1650    False
1651    False
1652    False
1653    False
1654    False
1655    False
1656    False
1657    False
1658    False
1659    False
1660    False
1661    False
1662    False
1663    False
1664    False
1665    False
1666    False
1667    False
1668    False
1669    False
1670    False
1671    False
1672    False
1673    False
1674    False
Name: Quartos, Length: 1675, dtype: bool

In [13]:
copacabana.loc[copacabana['Quartos'] == 6]

,Posicao,Quartos,Vagas,DistIpanema,DistPraia,DistFavela,RendaMedia,RendaMovel,RendaMovelRua,Vu2009,Mes,Idade,Tipologia,AreaConstruida,VAL_UNIT,X,Y
748,1,6.0,2.0,2500,35,743,1524600,1275377,1399989,4100,360,58.0,1,668,4491,686456.25,7458801.05

In [14]:
copacabana.loc[copacabana['Quartos'] == 5]

,Posicao,Quartos,Vagas,DistIpanema,DistPraia,DistFavela,RendaMedia,RendaMovel,RendaMovelRua,Vu2009,Mes,Idade,Tipologia,AreaConstruida,VAL_UNIT,X,Y
173,1,5.0,0.01,2696,154,712,1083455,649733,866594,2000,425,55.0,1,38,6316,686522.9800,7458989.87
1521,1,5.0,3.00,3044,31,609,1524600,1168222,1346411,4100,405,34.0,1,430,5000,686965.3201,7459109.71

In [15]:
copacabana['AreaConstruida'] * copacabana['VAL_UNIT']

0        416005
1        460009
2        720012
3        990000
4        909976
5        790024
6        670015
7        249990
8        319990
9        299997
10       390000
11       299992
12       410000
13       749990
14       625022
15       619972
16       309986
17       340032
18       760000
19       870020
20       250005
21       340005
22       210000
23       139995
24       270000
25        90000
26       350010
27       450022
28       329975
29       210033
         ...
1645     792984
1646    1393956
1647     810027
1648    1800022
1649     886990
1650     969992
1651     499968
1652     560032
1653     284984
1654    2199998
1655    2179944
1656     300011
1657     180000
1658     280016
1659     229992
1660     342012
1661     699996
1662     710024
1663    1320000
1664     300024
1665     700024
1666     390000
1667     434980
1668     219996
1669     639975
1670     479940
1671     402040
1672     600020
1673     766705
1674     683871
Length: 1675, dtype: int64

In [16]:
copacabana['TOTAL'] = copacabana['AreaConstruida'] * copacabana['VAL_UNIT']

In [17]:
copacabana['TOTAL'].describe()

count    1.675000e+03
mean     5.862613e+05
std      4.804788e+05
min      6.000000e+04
25%      3.000000e+05
50%      4.500320e+05
75%      7.200115e+05
max      6.199912e+06
Name: TOTAL, dtype: float64

In [18]:
copacabana['TOTAL'].tail()

1670    479940
1671    402040
1672    600020
1673    766705
1674    683871
Name: TOTAL, dtype: int64

In [19]:
copacabana['TOTAL'].head()

0    416005
1    460009
2    720012
3    990000
4    909976
Name: TOTAL, dtype: int64

# Trabalhando com Dados Categóricos

In [21]:
import pandas as pd
import pydataset

In [45]:
titanic = pydataset.data('titanic')

In [46]:
titanic.columns

Index(['class', 'age', 'sex', 'survived'], dtype='object')

In [47]:
titanic['class'].describe()

count          1316
unique            3
top       3rd class
freq            706
Name: class, dtype: object

In [48]:
titanic['class'].nbytes

5264

In [49]:
%%time
titanic['class'] == '3rd class'

Wall time: 975 µs

1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
30      False
31      False
32      False
33      False
34      False
35      False
36      False
37      False
38      False
39      False
40      False
41      False
42      False
43      False
44      False
45      False
46      False
47      False
48      False
49      False
50      False
51      False
52      False
53      False
54      False
55      False
56      False
57      False
58      False
59      False
60      False
61      False
62      False
63      False
64      False
65      False
66      False
67      False
68      False
69      False
70      False
71      False
72      False
73      False
74      False
75      False
76      False
77      False
78      False
79      False
80      False
81      False
82      False
83      False
84      False
85      False
        ...
1232     True
1233     True
1234     True
1235     True
1236     True
1237     True
1238     True
1239     True
1240     True
1241     True
1242     True
1243     True
1244     True
1245     True
1246     True
1247     True
1248     True
1249     True
1250     True
1251     True
1252     True
1253     True
1254     True
1255     True
1256     True
1257     True
1258     True
1259     True
1260     True
1261     True
1262     True
1263     True
1264     True
1265     True
1266     True
1267     True
1268     True
1269     True
1270     True
1271     True
1272     True
1273     True
1274     True
1275     True
1276     True
1277     True
1278     True
1279     True
1280     True
1281     True
1282     True
1283     True
1284     True
1285     True
1286     True
1287     True
1288     True
1289     True
1290     True
1291     True
1292     True
1293     True
1294     True
1295     True
1296     True
1297     True
1298     True
1299     True
1300     True
1301     True
1302     True
1303     True
1304     True
1305     True
1306     True
1307     True
1308     True
1309     True
1310     True
1311     True
1312     True
1313     True
1314     True
1315     True
1316     True
Name: class, Length: 1316, dtype: bool

In [51]:
titanic['class'] = titanic['class'].astype('category')

In [52]:
titanic['class'].describe()

count          1316
unique            3
top       3rd class
freq            706
Name: class, dtype: object

In [53]:
titanic['class'].nbytes

1328

In [55]:
%%time
titanic['class'] == '3rd class'

Wall time: 504 µs

1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
30      False
31      False
32      False
33      False
34      False
35      False
36      False
37      False
38      False
39      False
40      False
41      False
42      False
43      False
44      False
45      False
46      False
47      False
48      False
49      False
50      False
51      False
52      False
53      False
54      False
55      False
56      False
57      False
58      False
59      False
60      False
61      False
62      False
63      False
64      False
65      False
66      False
67      False
68      False
69      False
70      False
71      False
72      False
73      False
74      False
75      False
76      False
77      False
78      False
79      False
80      False
81      False
82      False
83      False
84      False
85      False
        ...
1232     True
1233     True
1234     True
1235     True
1236     True
1237     True
1238     True
1239     True
1240     True
1241     True
1242     True
1243     True
1244     True
1245     True
1246     True
1247     True
1248     True
1249     True
1250     True
1251     True
1252     True
1253     True
1254     True
1255     True
1256     True
1257     True
1258     True
1259     True
1260     True
1261     True
1262     True
1263     True
1264     True
1265     True
1266     True
1267     True
1268     True
1269     True
1270     True
1271     True
1272     True
1273     True
1274     True
1275     True
1276     True
1277     True
1278     True
1279     True
1280     True
1281     True
1282     True
1283     True
1284     True
1285     True
1286     True
1287     True
1288     True
1289     True
1290     True
1291     True
1292     True
1293     True
1294     True
1295     True
1296     True
1297     True
1298     True
1299     True
1300     True
1301     True
1302     True
1303     True
1304     True
1305     True
1306     True
1307     True
1308     True
1309     True
1310     True
1311     True
1312     True
1313     True
1314     True
1315     True
1316     True
Name: class, Length: 1316, dtype: bool

# Resolvendo problemas de dados perdidos

In [56]:
import pandas as pd
import numpy as np

In [75]:
dados = {
    'nome': ['João', 'Maria', 'José', np.nan, 'Pedro', 'Judas', 'Tiago'],
    'sexo': ['M', 'F', 'M', np.nan, 'M', 'M', np.nan],
    'idade': [14, 13, np.nan, np.nan, 15, 13, 14],
    'nota': [4, 10, 7, np.nan, 8, 9, 7]
}
df = pd.DataFrame(dados)

In [76]:
df

   idade   nome  nota sexo
0   14.0   João   4.0    M
1   13.0  Maria  10.0    F
2    NaN   José   7.0    M
3    NaN    NaN   NaN  NaN
4   15.0  Pedro   8.0    M
5   13.0  Judas   9.0    M
6   14.0  Tiago   7.0  NaN

In [77]:
df.dropna()

   idade   nome  nota sexo
0   14.0   João   4.0    M
1   13.0  Maria  10.0    F
4   15.0  Pedro   8.0    M
5   13.0  Judas   9.0    M

In [78]:
df.dropna(how='all')

   idade   nome  nota sexo
0   14.0   João   4.0    M
1   13.0  Maria  10.0    F
2    NaN   José   7.0    M
4   15.0  Pedro   8.0    M
5   13.0  Judas   9.0    M
6   14.0  Tiago   7.0  NaN

In [79]:
df['serie'] = np.nan

In [80]:
df

   idade   nome  nota sexo  serie
0   14.0   João   4.0    M    NaN
1   13.0  Maria  10.0    F    NaN
2    NaN   José   7.0    M    NaN
3    NaN    NaN   NaN  NaN    NaN
4   15.0  Pedro   8.0    M    NaN
5   13.0  Judas   9.0    M    NaN
6   14.0  Tiago   7.0  NaN    NaN

In [81]:
df.dropna(how='all', axis=1)

   idade   nome  nota sexo
0   14.0   João   4.0    M
1   13.0  Maria  10.0    F
2    NaN   José   7.0    M
3    NaN    NaN   NaN  NaN
4   15.0  Pedro   8.0    M
5   13.0  Judas   9.0    M
6   14.0  Tiago   7.0  NaN

In [82]:
df.dropna(thresh=3)

   idade   nome  nota sexo  serie
0   14.0   João   4.0    M    NaN
1   13.0  Maria  10.0    F    NaN
2    NaN   José   7.0    M    NaN
4   15.0  Pedro   8.0    M    NaN
5   13.0  Judas   9.0    M    NaN
6   14.0  Tiago   7.0  NaN    NaN

In [83]:
df['serie'].fillna(8)

0    8.0
1    8.0
2    8.0
3    8.0
4    8.0
5    8.0
6    8.0
Name: serie, dtype: float64

In [84]:
df['serie'].fillna(8, inplace=True)

In [85]:
df

   idade   nome  nota sexo  serie
0   14.0   João   4.0    M    8.0
1   13.0  Maria  10.0    F    8.0
2    NaN   José   7.0    M    8.0
3    NaN    NaN   NaN  NaN    8.0
4   15.0  Pedro   8.0    M    8.0
5   13.0  Judas   9.0    M    8.0
6   14.0  Tiago   7.0  NaN    8.0

In [86]:
df['serie'] = np.nan

In [87]:
df

   idade   nome  nota sexo  serie
0   14.0   João   4.0    M    NaN
1   13.0  Maria  10.0    F    NaN
2    NaN   José   7.0    M    NaN
3    NaN    NaN   NaN  NaN    NaN
4   15.0  Pedro   8.0    M    NaN
5   13.0  Judas   9.0    M    NaN
6   14.0  Tiago   7.0  NaN    NaN

In [88]:
df['idade'].mean()

13.800000000000001

In [89]:
df['idade'].fillna(df['idade'].mean(), inplace=True)

In [90]:
df

   idade   nome  nota sexo  serie
0   14.0   João   4.0    M    NaN
1   13.0  Maria  10.0    F    NaN
2   13.8   José   7.0    M    NaN
3   13.8    NaN   NaN  NaN    NaN
4   15.0  Pedro   8.0    M    NaN
5   13.0  Judas   9.0    M    NaN
6   14.0  Tiago   7.0  NaN    NaN

In [92]:
df[df['nome'].notnull() & df['sexo'].notnull()]

   idade   nome  nota sexo  serie
0   14.0   João   4.0    M    NaN
1   13.0  Maria  10.0    F    NaN
2   13.8   José   7.0    M    NaN
4   15.0  Pedro   8.0    M    NaN
5   13.0  Judas   9.0    M    NaN

# Operações de aggregate e grouping no DataFrame

In [93]:
import pandas as pd
import numpy as np

In [95]:
df = pd.read_csv('primary-results.csv')

In [96]:
df

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078
5,Alabama,AL,Barbour,1005.0,Democrat,Hillary Clinton,2567,0.906
6,Alabama,AL,Bibb,1007.0,Democrat,Bernie Sanders,246,0.197
7,Alabama,AL,Bibb,1007.0,Democrat,Hillary Clinton,942,0.755
8,Alabama,AL,Blount,1009.0,Democrat,Bernie Sanders,395,0.386
9,Alabama,AL,Blount,1009.0,Democrat,Hillary Clinton,564,0.551
10,Alabama,AL,Bullock,1011.0,Democrat,Bernie Sanders,178,0.066
11,Alabama,AL,Bullock,1011.0,Democrat,Hillary Clinton,2451,0.913
12,Alabama,AL,Butler,1013.0,Democrat,Bernie Sanders,156,0.065
13,Alabama,AL,Butler,1013.0,Democrat,Hillary Clinton,2196,0.921
14,Alabama,AL,Calhoun,1015.0,Democrat,Bernie Sanders,1425,0.218
15,Alabama,AL,Calhoun,1015.0,Democrat,Hillary Clinton,5011,0.765
16,Alabama,AL,Chambers,1017.0,Democrat,Bernie Sanders,312,0.095
17,Alabama,AL,Chambers,1017.0,Democrat,Hillary Clinton,2899,0.886
18,Alabama,AL,Cherokee,1019.0,Democrat,Bernie Sanders,268,0.249
19,Alabama,AL,Cherokee,1019.0,Democrat,Hillary Clinton,712,0.661
20,Alabama,AL,Chilton,1021.0,Democrat,Bernie Sanders,289,0.246
21,Alabama,AL,Chilton,1021.0,Democrat,Hillary Clinton,860,0.731
22,Alabama,AL,Choctaw,1023.0,Democrat,Bernie Sanders,273,0.124
23,Alabama,AL,Choctaw,1023.0,Democrat,Hillary Clinton,1772,0.802
24,Alabama,AL,Clarke,1025.0,Democrat,Bernie Sanders,213,0.063
25,Alabama,AL,Clarke,1025.0,Democrat,Hillary Clinton,3148,0.930
26,Alabama,AL,Clay,1027.0,Democrat,Bernie Sanders,135,0.137
27,Alabama,AL,Clay,1027.0,Democrat,Hillary Clinton,807,0.818
28,Alabama,AL,Cleburne,1029.0,Democrat,Bernie Sanders,72,0.238
29,Alabama,AL,Cleburne,1029.0,Democrat,Hillary Clinton,221,0.732
30,Alabama,AL,Coffee,1031.0,Democrat,Bernie Sanders,389,0.201
31,Alabama,AL,Coffee,1031.0,Democrat,Hillary Clinton,1493,0.772
32,Alabama,AL,Colbert,1033.0,Democrat,Bernie Sanders,1342,0.225
33,Alabama,AL,Colbert,1033.0,Democrat,Hillary Clinton,3879,0.650
34,Alabama,AL,Conecuh,1035.0,Democrat,Bernie Sanders,544,0.191
35,Alabama,AL,Conecuh,1035.0,Democrat,Hillary Clinton,2031,0.714
36,Alabama,AL,Coosa,1037.0,Democrat,Bernie Sanders,125,0.108
37,Alabama,AL,Coosa,1037.0,Democrat,Hillary Clinton,1012,0.877
38,Alabama,AL,Covington,1039.0,Democrat,Bernie Sanders,188,0.197
39,Alabama,AL,Covington,1039.0,Democrat,Hillary Clinton,737,0.773
40,Alabama,AL,Crenshaw,1041.0,Democrat,Bernie Sanders,107,0.103
41,Alabama,AL,Crenshaw,1041.0,Democrat,Hillary Clinton,908,0.878
42,Alabama,AL,Cullman,1043.0,Democrat,Bernie Sanders,723,0.345
43,Alabama,AL,Cullman,1043.0,Democrat,Hillary Clinton,1275,0.608
44,Alabama,AL,Dale,1045.0,Democrat,Bernie Sanders,415,0.207
45,Alabama,AL,Dale,1045.0,Democrat,Hillary Clinton,1544,0.770
46,Alabama,AL,Dallas,1047.0,Democrat,Bernie Sanders,1774,0.154
47,Alabama,AL,Dallas,1047.0,Democrat,Hillary Clinton,8577,0.744
48,Alabama,AL,DeKalb,1049.0,Democrat,Bernie Sanders,667,0.323
49,Alabama,AL,DeKalb,1049.0,Democrat,Hillary Clinton,1297,0.629
50,Alabama,AL,Elmore,1051.0,Democrat,Bernie Sanders,694,0.184
51,Alabama,AL,Elmore,1051.0,Democrat,Hillary Clinton,3019,0.801
52,Alabama,AL,Escambia,1053.0,Democrat,Bernie Sanders,226,0.099
53,Alabama,AL,Escambia,1053.0,Democrat,Hillary Clinton,2027,0.885
54,Alabama,AL,Etowah,1055.0,Democrat,Bernie Sanders,1289,0.226
55,Alabama,AL,Etowah,1055.0,Democrat,Hillary Clinton,4262,0.746
56,Alabama,AL,Fayette,1057.0,Democrat,Bernie Sanders,148,0.172
57,Alabama,AL,Fayette,1057.0,Democrat,Hillary Clinton,660,0.767
58,Alabama,AL,Franklin,1059.0,Democrat,Bernie Sanders,767,0.301
59,Alabama,AL,Franklin,1059.0,Democrat,Hillary Clinton,1233,0.484
60,Alabama,AL,Geneva,1061.0,Democrat,Bernie Sanders,157,0.216
61,Alabama,AL,Geneva,1061.0,Democrat,Hillary Clinton,544,0.749
62,Alabama,AL,Greene,1063.0,Democrat,Bernie Sanders,213,0.071
63,Alabama,AL,Greene,1063.0,Democrat,Hillary Clinton,2714,0.901
64,Alabama,AL,Hale,1065.0,Democrat,Bernie Sanders,427,0.140
65,Alabama,AL,Hale,1065.0,Democrat,Hillary Clinton,2426,0.796
66,Alabama,AL,Henry,1067.0,Democrat,Bernie Sanders,163,0.119
67,Alabama,AL,Henry,1067.0,Democrat,Hillary Clinton,1170,0.856
68,Alabama,AL,Houston,1069.0,Democrat,Bernie Sanders,780,0.201
69,Alabama,AL,Houston,1069.0,Democrat,Hillary Clinton,3044,0.783
70,Alabama,AL,Jackson,1071.0,Democrat,Bernie Sanders,510,0.269
71,Alabama,AL,Jackson,1071.0,Democrat,Hillary Clinton,1327,0.700
72,Alabama,AL,Jefferson,1073.0,Democrat,Bernie Sanders,14319,0.174
73,Alabama,AL,Jefferson,1073.0,Democrat,Hillary Clinton,67357,0.816
74,Alabama,AL,Lamar,1075.0,Democrat,Bernie Sanders,173,0.241
75,Alabama,AL,Lamar,1075.0,Democrat,Hillary Clinton,442,0.616
76,Alabama,AL,Lauderdale,1077.0,Democrat,Bernie Sanders,1745,0.309
77,Alabama,AL,Lauderdale,1077.0,Democrat,Hillary Clinton,3676,0.652
78,Alabama,AL,Lawrence,1079.0,Democrat,Bernie Sanders,428,0.162
79,Alabama,AL,Lawrence,1079.0,Democrat,Hillary Clinton,2047,0.777
80,Alabama,AL,Lee,1081.0,Democrat,Bernie Sanders,2464,0.254
81,Alabama,AL,Lee,1081.0,Democrat,Hillary Clinton,7137,0.736
82,Alabama,AL,Limestone,1083.0,Democrat,Bernie Sanders,1120,0.255
83,Alabama,AL,Limestone,1083.0,Democrat,Hillary Clinton,3199,0.728
84,Alabama,AL,Lowndes,1085.0,Democrat,Bernie Sanders,330,0.077
...,...,...,...,...,...,...,...,...
24526,Wyoming,WY,Converse,56009.0,Democrat,Hillary Clinton,2,0.400
24527,Wyoming,WY,Crook,56011.0,Democrat,Bernie Sanders,1,0.500
24528,Wyoming,WY,Crook,56011.0,Democrat,Hillary Clinton,1,0.500
24529,Wyoming,WY,Fremont,56013.0,Democrat,Bernie Sanders,10,0.500
24530,Wyoming,WY,Fremont,56013.0,Democrat,Hillary Clinton,10,0.500
24531,Wyoming,WY,Goshen,56015.0,Democrat,Bernie Sanders,2,0.400
24532,Wyoming,WY,Goshen,56015.0,Democrat,Hillary Clinton,3,0.600
24533,Wyoming,WY,Hot Springs,56017.0,Democrat,Bernie Sanders,1,0.500
24534,Wyoming,WY,Hot Springs,56017.0,Democrat,Hillary Clinton,1,0.500
24535,Wyoming,WY,Johnson,56019.0,Democrat,Bernie Sanders,1,0.500
24536,Wyoming,WY,Johnson,56019.0,Democrat,Hillary Clinton,1,0.500
24537,Wyoming,WY,Laramie,56021.0,Democrat,Bernie Sanders,25,0.490
24538,Wyoming,WY,Laramie,56021.0,Democrat,Hillary Clinton,26,0.510
24539,Wyoming,WY,Lincoln,56023.0,Democrat,Bernie Sanders,3,0.500
24540,Wyoming,WY,Lincoln,56023.0,Democrat,Hillary Clinton,3,0.500
24541,Wyoming,WY,Natrona,56025.0,Democrat,Bernie Sanders,18,0.474
24542,Wyoming,WY,Natrona,56025.0,Democrat,Hillary Clinton,20,0.526
24543,Wyoming,WY,Niobrara,56027.0,Democrat,Bernie Sanders,2,1.000
24544,Wyoming,WY,Niobrara,56027.0,Democrat,Hillary Clinton,0,0.000
24545,Wyoming,WY,Park,56029.0,Democrat,Bernie Sanders,8,0.615
24546,Wyoming,WY,Park,56029.0,Democrat,Hillary Clinton,5,0.385
24547,Wyoming,WY,Platte,56031.0,Democrat,Bernie Sanders,2,0.667
24548,Wyoming,WY,Platte,56031.0,Democrat,Hillary Clinton,1,0.333
24549,Wyoming,WY,Sheridan,56033.0,Democrat,Bernie Sanders,7,0.500
24550,Wyoming,WY,Sheridan,56033.0,Democrat,Hillary Clinton,7,0.500
24551,Wyoming,WY,Sublette,56035.0,Democrat,Bernie Sanders,3,0.750
24552,Wyoming,WY,Sublette,56035.0,Democrat,Hillary Clinton,1,0.250
24553,Wyoming,WY,Sweetwater,56037.0,Democrat,Bernie Sanders,12,0.545
24554,Wyoming,WY,Sweetwater,56037.0,Democrat,Hillary Clinton,10,0.455
24555,Wyoming,WY,Teton,56039.0,Democrat,Bernie Sanders,9,0.600
24556,Wyoming,WY,Teton,56039.0,Democrat,Hillary Clinton,6,0.400
24557,Wyoming,WY,Uinta,56041.0,Democrat,Bernie Sanders,5,0.556
24558,Wyoming,WY,Uinta,56041.0,Democrat,Hillary Clinton,4,0.444
24559,Wyoming,WY,Washakie,56043.0,Democrat,Bernie Sanders,1,0.333
24560,Wyoming,WY,Washakie,56043.0,Democrat,Hillary Clinton,2,0.667
24561,Wyoming,WY,Weston,56045.0,Democrat,Bernie Sanders,1,0.500
24562,Wyoming,WY,Weston,56045.0,Democrat,Hillary Clinton,1,0.500
24563,Wyoming,WY,Albany-Natrona,95600025.0,Republican,Donald Trump,0,0.000
24564,Wyoming,WY,Albany-Natrona,95600025.0,Republican,John Kasich,0,0.000
24565,Wyoming,WY,Albany-Natrona,95600025.0,Republican,Marco Rubio,39,0.513
24566,Wyoming,WY,Albany-Natrona,95600025.0,Republican,Ted Cruz,37,0.487
24567,Wyoming,WY,Campbell-Johnson,95600032.0,Republican,Donald Trump,0,0.000
24568,Wyoming,WY,Campbell-Johnson,95600032.0,Republican,John Kasich,0,0.000
24569,Wyoming,WY,Campbell-Johnson,95600032.0,Republican,Marco Rubio,0,0.000
24570,Wyoming,WY,Campbell-Johnson,95600032.0,Republican,Ted Cruz,68,1.000
24571,Wyoming,WY,Converse-Niobrara,95600034.0,Republican,Donald Trump,0,0.000
24572,Wyoming,WY,Converse-Niobrara,95600034.0,Republican,John Kasich,0,0.000
24573,Wyoming,WY,Converse-Niobrara,95600034.0,Republican,Marco Rubio,35,0.479
24574,Wyoming,WY,Converse-Niobrara,95600034.0,Republican,Ted Cruz,38,0.521
24575,Wyoming,WY,Crook-Weston,95600033.0,Republican,Donald Trump,0,0.000
24576,Wyoming,WY,Crook-Weston,95600033.0,Republican,John Kasich,0,0.000
24577,Wyoming,WY,Crook-Weston,95600033.0,Republican,Marco Rubio,0,0.000
24578,Wyoming,WY,Crook-Weston,95600033.0,Republican,Ted Cruz,27,0.466
24579,Wyoming,WY,Fremont-Park,95600029.0,Republican,Donald Trump,33,0.340
24580,Wyoming,WY,Fremont-Park,95600029.0,Republican,John Kasich,0,0.000
24581,Wyoming,WY,Fremont-Park,95600029.0,Republican,Marco Rubio,0,0.000
24582,Wyoming,WY,Fremont-Park,95600029.0,Republican,Ted Cruz,64,0.660
24583,Wyoming,WY,Goshen-Platte,95600035.0,Republican,Donald Trump,0,0.000
24584,Wyoming,WY,Goshen-Platte,95600035.0,Republican,John Kasich,0,0.000
24585,Wyoming,WY,Goshen-Platte,95600035.0,Republican,Marco Rubio,0,0.000
24586,Wyoming,WY,Goshen-Platte,95600035.0,Republican,Ted Cruz,83,1.000
24587,Wyoming,WY,Hot Springs-Washakie,95600030.0,Republican,Donald Trump,0,0.000
24588,Wyoming,WY,Hot Springs-Washakie,95600030.0,Republican,John Kasich,0,0.000
24589,Wyoming,WY,Hot Springs-Washakie,95600030.0,Republican,Marco Rubio,0,0.000
24590,Wyoming,WY,Hot Springs-Washakie,95600030.0,Republican,Ted Cruz,43,1.000
24591,Wyoming,WY,Laramie,95600036.0,Republican,Donald Trump,0,0.000
24592,Wyoming,WY,Laramie,95600036.0,Republican,John Kasich,0,0.000
24593,Wyoming,WY,Laramie,95600036.0,Republican,Marco Rubio,38,0.176
24594,Wyoming,WY,Laramie,95600036.0,Republican,Ted Cruz,141,0.653
24595,Wyoming,WY,Sheridan-Big Horn,95600031.0,Republican,Donald Trump,0,0.000
24596,Wyoming,WY,Sheridan-Big Horn,95600031.0,Republican,John Kasich,0,0.000
24597,Wyoming,WY,Sheridan-Big Horn,95600031.0,Republican,Marco Rubio,30,0.400
24598,Wyoming,WY,Sheridan-Big Horn,95600031.0,Republican,Ted Cruz,45,0.600
24599,Wyoming,WY,Sweetwater-Carbon,95600026.0,Republican,Donald Trump,16,0.180
24600,Wyoming,WY,Sweetwater-Carbon,95600026.0,Republican,John Kasich,0,0.000
24601,Wyoming,WY,Sweetwater-Carbon,95600026.0,Republican,Marco Rubio,28,0.315
24602,Wyoming,WY,Sweetwater-Carbon,95600026.0,Republican,Ted Cruz,45,0.506
24603,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Donald Trump,21,0.525
24604,Wyoming,WY,Teton-Sublette,95600028.0,Republican,John Kasich,0,0.000
24605,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Marco Rubio,19,0.475
24606,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Ted Cruz,0,0.000
24607,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Donald Trump,0,0.000
24608,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.000
24609,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.000
24610,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Ted Cruz,53,1.000

In [97]:
len(df)

24611

In [98]:
df.groupby('candidate')

In [99]:
df.groupby('candidate').aggregate({'votes': [min, np.mean, max]})

                votes
                  min         mean     max
candidate
 No Preference      0    23.225071     580
 Uncommitted        0     0.434343      16
Ben Carson          0   338.258238    9945
Bernie Sanders      0  2844.019501  434656
Carly Fiorina       0   139.366972    3612
Chris Christie      1   223.422018    7144
Donald Trump        0  3709.576408  179130
Hillary Clinton     0  3731.855410  590502
Jeb Bush            2   609.103226    9575
John Kasich         0  1160.052705  101217
Marco Rubio         0  1299.834051  111898
Martin O'Malley     0     7.595960     152
Mike Huckabee       2    33.787879     565
Rand Paul           2    85.646465    1633
Rick Santorum       0    18.000000     234
Ted Cruz            0  2120.191299  147721

In [100]:
df[df['votes'] == 590502]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.57

In [101]:
df.loc[df['votes'] == 590502]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.57

In [102]:
df.groupby('candidate').aggregate({'fraction_votes': [min, np.mean, max]})

                fraction_votes
                           min      mean       max
candidate
 No Preference           0.000  0.006484  0.030000
 Uncommitted             0.000  0.000455  0.013000
Ben Carson               0.000  0.058941  0.415000
Bernie Sanders           0.000  0.493316  1.000000
Carly Fiorina            0.000  0.022097  0.117000
Chris Christie           0.002  0.017773  0.087195
Donald Trump             0.000  0.466217  0.915000
Hillary Clinton          0.000  0.461302  1.000000
Jeb Bush                 0.004  0.044524  0.121000
John Kasich              0.000  0.122869  0.639000
Marco Rubio              0.000  0.146959  0.627000
Martin O'Malley          0.000  0.008303  0.132000
Mike Huckabee            0.003  0.024192  0.096000
Rand Paul                0.006  0.034061  0.096000
Rick Santorum            0.000  0.009960  0.073000
Ted Cruz                 0.000  0.243453  1.000000

In [103]:
df[df['fraction_votes'] == 1]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
475,Alaska,AK,State House District 12,90200112.0,Democrat,Bernie Sanders,10,1.0
499,Alaska,AK,State House District 23,90200123.0,Democrat,Bernie Sanders,13,1.0
513,Alaska,AK,State House District 3,90200103.0,Democrat,Bernie Sanders,7,1.0
517,Alaska,AK,State House District 31,90200131.0,Democrat,Bernie Sanders,16,1.0
519,Alaska,AK,State House District 32,90200132.0,Democrat,Bernie Sanders,13,1.0
531,Alaska,AK,State House District 38,90200138.0,Democrat,Bernie Sanders,17,1.0
537,Alaska,AK,State House District 40,90200140.0,Democrat,Bernie Sanders,12,1.0
539,Alaska,AK,State House District 5,90200105.0,Democrat,Bernie Sanders,15,1.0
541,Alaska,AK,State House District 6,90200106.0,Democrat,Bernie Sanders,12,1.0
545,Alaska,AK,State House District 8,90200108.0,Democrat,Bernie Sanders,7,1.0
4198,Idaho,ID,Clark,16033.0,Democrat,Bernie Sanders,4,1.0
8121,Maine,ME,Abbot,92300001.0,Democrat,Bernie Sanders,1,1.0
8129,Maine,ME,Alexander,92300006.0,Democrat,Bernie Sanders,1,1.0
8133,Maine,ME,Allagash,92300008.0,Democrat,Bernie Sanders,1,1.0
8139,Maine,ME,Amherst,92300011.0,Democrat,Bernie Sanders,1,1.0
8142,Maine,ME,Amity,92300012.0,Democrat,Hillary Clinton,1,1.0
8157,Maine,ME,Athens,92300019.0,Democrat,Bernie Sanders,2,1.0
8160,Maine,ME,Atkinson,92300020.0,Democrat,Hillary Clinton,1,1.0
8168,Maine,ME,Avon,92300024.0,Democrat,Hillary Clinton,1,1.0
8179,Maine,ME,Baring Plt.,92300030.0,Democrat,Bernie Sanders,1,1.0
8183,Maine,ME,Beals,92300032.0,Democrat,Bernie Sanders,1,1.0
8186,Maine,ME,Beaver Cove,92300033.0,Democrat,Hillary Clinton,1,1.0
8188,Maine,ME,Beddington,92300034.0,Democrat,Hillary Clinton,1,1.0
8193,Maine,ME,Belmont,92300037.0,Democrat,Bernie Sanders,2,1.0
8221,Maine,ME,Bradley,92300052.0,Democrat,Bernie Sanders,4,1.0
8227,Maine,ME,Bridgewater,92300055.0,Democrat,Bernie Sanders,1,1.0
8231,Maine,ME,Brighton Plt.,92300057.0,Democrat,Bernie Sanders,1,1.0
8237,Maine,ME,Brooks,92300060.0,Democrat,Bernie Sanders,2,1.0
8241,Maine,ME,Brownfield,92300063.0,Democrat,Bernie Sanders,3,1.0
8251,Maine,ME,Burlington,92300068.0,Democrat,Bernie Sanders,1,1.0
8257,Maine,ME,Byron,92300071.0,Democrat,Bernie Sanders,1,1.0
8261,Maine,ME,Cambridge,92300073.0,Democrat,Bernie Sanders,1,1.0
8267,Maine,ME,Canton,92300076.0,Democrat,Bernie Sanders,2,1.0
8281,Maine,ME,Carthage,92300083.0,Democrat,Bernie Sanders,1,1.0
8289,Maine,ME,Castle Hill,92300087.0,Democrat,Bernie Sanders,1,1.0
8292,Maine,ME,Caswell,92300088.0,Democrat,Hillary Clinton,1,1.0
8293,Maine,ME,Chapman,92300090.0,Democrat,Bernie Sanders,1,1.0
8297,Maine,ME,Charlotte,92300092.0,Democrat,Bernie Sanders,1,1.0
8305,Maine,ME,Chester,92300095.0,Democrat,Bernie Sanders,1,1.0
8311,Maine,ME,Clifton,92300098.0,Democrat,Bernie Sanders,2,1.0
8315,Maine,ME,Columbia,92300101.0,Democrat,Bernie Sanders,1,1.0
8317,Maine,ME,Columbia Falls,92300102.0,Democrat,Bernie Sanders,1,1.0
8319,Maine,ME,Cooper,92300104.0,Democrat,Bernie Sanders,1,1.0
8331,Maine,ME,Cranberry Isles,92300110.0,Democrat,Bernie Sanders,1,1.0
8334,Maine,ME,Crawford,92300111.0,Democrat,Hillary Clinton,1,1.0
8335,Maine,ME,Crystal,92300112.0,Democrat,Bernie Sanders,1,1.0
8341,Maine,ME,Cutler,92300115.0,Democrat,Bernie Sanders,1,1.0
8343,Maine,ME,Cyr Plt.,92300116.0,Democrat,Bernie Sanders,1,1.0
8363,Maine,ME,Dennysville,92300126.0,Democrat,Bernie Sanders,1,1.0
8365,Maine,ME,Detroit,92300127.0,Democrat,Bernie Sanders,1,1.0
8400,Maine,ME,Edinburg,92300144.0,Democrat,Hillary Clinton,1,1.0
8405,Maine,ME,Embden,92300148.0,Democrat,Bernie Sanders,2,1.0
8409,Maine,ME,Etna,92300150.0,Democrat,Bernie Sanders,2,1.0
8411,Maine,ME,Eustis,92300151.0,Democrat,Bernie Sanders,1,1.0
8413,Maine,ME,Exeter,92300152.0,Democrat,Bernie Sanders,2,1.0
8435,Maine,ME,Freedom,92300162.0,Democrat,Bernie Sanders,2,1.0
8453,Maine,ME,Garland,92300170.0,Democrat,Bernie Sanders,2,1.0
8457,Maine,ME,Gilead,92300172.0,Democrat,Bernie Sanders,1,1.0
8475,Maine,ME,Greenbush,92300181.0,Democrat,Bernie Sanders,2,1.0
8487,Maine,ME,Hamlin,92300188.0,Democrat,Bernie Sanders,1,1.0
8495,Maine,ME,Hanover,92300192.0,Democrat,Bernie Sanders,1,1.0
8521,Maine,ME,Hodgdon,92300205.0,Democrat,Bernie Sanders,2,1.0
8535,Maine,ME,Indian Township Vtng Dst,92300214.0,Democrat,Bernie Sanders,2,1.0
8537,Maine,ME,Industry,92300215.0,Democrat,Bernie Sanders,2,1.0
8539,Maine,ME,Island Falls,92300216.0,Democrat,Bernie Sanders,2,1.0
8541,Maine,ME,Isle Au Haut,92300217.0,Democrat,Bernie Sanders,1,1.0
8547,Maine,ME,Jackson,92300220.0,Democrat,Bernie Sanders,1,1.0
8553,Maine,ME,Jonesboro,92300223.0,Democrat,Bernie Sanders,1,1.0
8569,Maine,ME,Knox,92300232.0,Democrat,Bernie Sanders,1,1.0
8573,Maine,ME,Lake View Plt.,92300234.0,Democrat,Bernie Sanders,1,1.0
8576,Maine,ME,Lakeville,92300235.0,Democrat,Hillary Clinton,1,1.0
8581,Maine,ME,Lee,92300238.0,Democrat,Bernie Sanders,2,1.0
8603,Maine,ME,Linneus,92300249.0,Democrat,Bernie Sanders,1,1.0
8615,Maine,ME,Long Island,92300255.0,Democrat,Bernie Sanders,1,1.0
8619,Maine,ME,Lowell,92300257.0,Democrat,Bernie Sanders,1,1.0
8623,Maine,ME,Ludlow,92300259.0,Democrat,Bernie Sanders,1,1.0
8647,Maine,ME,Marshfield,92300272.0,Democrat,Bernie Sanders,1,1.0
8650,Maine,ME,Masardis,92300274.0,Democrat,Hillary Clinton,1,1.0
8653,Maine,ME,Mattawamkeag,92300277.0,Democrat,Bernie Sanders,2,1.0
8655,Maine,ME,Maxfield,92300278.0,Democrat,Bernie Sanders,1,1.0
8659,Maine,ME,Meddybemps,92300280.0,Democrat,Bernie Sanders,1,1.0
8661,Maine,ME,Medford,92300281.0,Democrat,Bernie Sanders,1,1.0
8667,Maine,ME,Merrill,92300284.0,Democrat,Bernie Sanders,1,1.0
8681,Maine,ME,Monhegan Plt.,92300292.0,Democrat,Bernie Sanders,1,1.0
8685,Maine,ME,Monroe,92300294.0,Democrat,Bernie Sanders,3,1.0
8691,Maine,ME,Montville,92300297.0,Democrat,Bernie Sanders,3,1.0
8700,Maine,ME,Moscow,92300301.0,Democrat,Hillary Clinton,1,1.0
8701,Maine,ME,Mount Chase,92300302.0,Democrat,Bernie Sanders,1,1.0
8710,Maine,ME,New Canada,92300308.0,Democrat,Hillary Clinton,1,1.0
8713,Maine,ME,New Limerick,92300312.0,Democrat,Bernie Sanders,1,1.0
8721,Maine,ME,New Vineyard,92300318.0,Democrat,Bernie Sanders,2,1.0
8731,Maine,ME,Newry,92300315.0,Democrat,Bernie Sanders,1,1.0
8744,Maine,ME,Northfield,92300322.0,Democrat,Hillary Clinton,1,1.0
8770,Maine,ME,Otis,92300338.0,Democrat,Hillary Clinton,1,1.0
8787,Maine,ME,Parkman,92300346.0,Democrat,Bernie Sanders,2,1.0
8791,Maine,ME,Passadumkeag,92300348.0,Democrat,Bernie Sanders,1,1.0
8795,Maine,ME,Pembroke,92300350.0,Democrat,Bernie Sanders,2,1.0
8803,Maine,ME,Perham,92300352.0,Democrat,Bernie Sanders,1,1.0
8805,Maine,ME,Perry,92300354.0,Democrat,Bernie Sanders,2,1.0
8828,Maine,ME,Portage Lake,92300364.0,Democrat,Hillary Clinton,1,1.0
8855,Maine,ME,Ripley,92300378.0,Democrat,Bernie Sanders,1,1.0
8857,Maine,ME,Robbinston,92300379.0,Democrat,Bernie Sanders,2,1.0
8866,Maine,ME,Roque Bluffs,92300384.0,Democrat,Hillary Clinton,1,1.0
8867,Maine,ME,Roxbury,92300385.0,Democrat,Bernie Sanders,1,1.0
8891,Maine,ME,Sebec,92300401.0,Democrat,Bernie Sanders,1,1.0
8893,Maine,ME,Seboeis Plt.,92300402.0,Democrat,Bernie Sanders,1,1.0
8901,Maine,ME,Shirley,92300406.0,Democrat,Bernie Sanders,1,1.0
8909,Maine,ME,Smyrna,92300411.0,Democrat,Bernie Sanders,1,1.0
8915,Maine,ME,Somerville,92300413.0,Democrat,Bernie Sanders,1,1.0
8932,Maine,ME,Springfield,92300421.0,Democrat,Hillary Clinton,1,1.0
8945,Maine,ME,Starks,92300424.0,Democrat,Bernie Sanders,2,1.0
8951,Maine,ME,Stockholm,92300427.0,Democrat,Bernie Sanders,1,1.0
8955,Maine,ME,Stoneham,92300429.0,Democrat,Bernie Sanders,1,1.0
8965,Maine,ME,Sumner,92300434.0,Democrat,Bernie Sanders,2,1.0
8971,Maine,ME,Swanville,92300437.0,Democrat,Bernie Sanders,3,1.0
8974,Maine,ME,Sweden,92300438.0,Democrat,Hillary Clinton,1,1.0
8977,Maine,ME,Temple,92300442.0,Democrat,Bernie Sanders,2,1.0
8983,Maine,ME,Thorndike,92300445.0,Democrat,Bernie Sanders,2,1.0
9013,Maine,ME,Vienna,92300462.0,Democrat,Bernie Sanders,2,1.0
9018,Maine,ME,Wade,92300464.0,Democrat,Hillary Clinton,1,1.0
9049,Maine,ME,Weld,92300479.0,Democrat,Bernie Sanders,1,1.0
9052,Maine,ME,Wellington,92300480.0,Democrat,Hillary Clinton,1,1.0
9055,Maine,ME,Wesley,92300482.0,Democrat,Bernie Sanders,1,1.0
9070,Maine,ME,Westmanland,92300488.0,Democrat,Hillary Clinton,1,1.0
9071,Maine,ME,Weston,92300489.0,Democrat,Bernie Sanders,1,1.0
9079,Maine,ME,Whitneyville,92300494.0,Democrat,Bernie Sanders,1,1.0
9081,Maine,ME,Willimantic,92300495.0,Democrat,Bernie Sanders,1,1.0
9093,Maine,ME,Winter Harbor,92300501.0,Democrat,Bernie Sanders,1,1.0
14088,Nebraska,NE,Hayes,31085.0,Democrat,Hillary Clinton,9,1.0
14174,Nebraska,NE,Thomas,31171.0,Democrat,Hillary Clinton,1,1.0
15915,North Dakota,ND,District 31,93800131.0,Democrat,Bernie Sanders,8,1.0
24543,Wyoming,WY,Niobrara,56027.0,Democrat,Bernie Sanders,2,1.0
24570,Wyoming,WY,Campbell-Johnson,95600032.0,Republican,Ted Cruz,68,1.0
24586,Wyoming,WY,Goshen-Platte,95600035.0,Republican,Ted Cruz,83,1.0
24590,Wyoming,WY,Hot Springs-Washakie,95600030.0,Republican,Ted Cruz,43,1.0
24610,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Ted Cruz,53,1.0

In [105]:
df[(df['fraction_votes'] == 1) & (df['candidate'] == 'Hillary Clinton')]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
8142,Maine,ME,Amity,92300012.0,Democrat,Hillary Clinton,1,1.0
8160,Maine,ME,Atkinson,92300020.0,Democrat,Hillary Clinton,1,1.0
8168,Maine,ME,Avon,92300024.0,Democrat,Hillary Clinton,1,1.0
8186,Maine,ME,Beaver Cove,92300033.0,Democrat,Hillary Clinton,1,1.0
8188,Maine,ME,Beddington,92300034.0,Democrat,Hillary Clinton,1,1.0
8292,Maine,ME,Caswell,92300088.0,Democrat,Hillary Clinton,1,1.0
8334,Maine,ME,Crawford,92300111.0,Democrat,Hillary Clinton,1,1.0
8400,Maine,ME,Edinburg,92300144.0,Democrat,Hillary Clinton,1,1.0
8576,Maine,ME,Lakeville,92300235.0,Democrat,Hillary Clinton,1,1.0
8650,Maine,ME,Masardis,92300274.0,Democrat,Hillary Clinton,1,1.0
8700,Maine,ME,Moscow,92300301.0,Democrat,Hillary Clinton,1,1.0
8710,Maine,ME,New Canada,92300308.0,Democrat,Hillary Clinton,1,1.0
8744,Maine,ME,Northfield,92300322.0,Democrat,Hillary Clinton,1,1.0
8770,Maine,ME,Otis,92300338.0,Democrat,Hillary Clinton,1,1.0
8828,Maine,ME,Portage Lake,92300364.0,Democrat,Hillary Clinton,1,1.0
8866,Maine,ME,Roque Bluffs,92300384.0,Democrat,Hillary Clinton,1,1.0
8932,Maine,ME,Springfield,92300421.0,Democrat,Hillary Clinton,1,1.0
8974,Maine,ME,Sweden,92300438.0,Democrat,Hillary Clinton,1,1.0
9018,Maine,ME,Wade,92300464.0,Democrat,Hillary Clinton,1,1.0
9052,Maine,ME,Wellington,92300480.0,Democrat,Hillary Clinton,1,1.0
9070,Maine,ME,Westmanland,92300488.0,Democrat,Hillary Clinton,1,1.0
14088,Nebraska,NE,Hayes,31085.0,Democrat,Hillary Clinton,9,1.0
14174,Nebraska,NE,Thomas,31171.0,Democrat,Hillary Clinton,1,1.0

In [109]:
def fraction_votes_filter(x):
    return x['votes'].sum() > 1300000

df.groupby('state').filter(fraction_votes_filter)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
1349,California,CA,Alameda,6001.0,Democrat,Bernie Sanders,91324,0.458
1350,California,CA,Alameda,6001.0,Democrat,Hillary Clinton,107102,0.537
1351,California,CA,Alpine,6003.0,Democrat,Bernie Sanders,129,0.535
1352,California,CA,Alpine,6003.0,Democrat,Hillary Clinton,110,0.456
1353,California,CA,Amador,6005.0,Democrat,Bernie Sanders,1753,0.465
1354,California,CA,Amador,6005.0,Democrat,Hillary Clinton,1949,0.517
1355,California,CA,Butte,6007.0,Democrat,Bernie Sanders,14271,0.589
1356,California,CA,Butte,6007.0,Democrat,Hillary Clinton,9681,0.400
1357,California,CA,Calaveras,6009.0,Democrat,Bernie Sanders,2392,0.467
1358,California,CA,Calaveras,6009.0,Democrat,Hillary Clinton,2630,0.513
1359,California,CA,Colusa,6011.0,Democrat,Bernie Sanders,584,0.458
1360,California,CA,Colusa,6011.0,Democrat,Hillary Clinton,653,0.512
1361,California,CA,Contra Costa,6013.0,Democrat,Bernie Sanders,46909,0.399
1362,California,CA,Contra Costa,6013.0,Democrat,Hillary Clinton,69809,0.594
1363,California,CA,Del Norte,6015.0,Democrat,Bernie Sanders,1323,0.554
1364,California,CA,Del Norte,6015.0,Democrat,Hillary Clinton,1015,0.425
1365,California,CA,El Dorado,6017.0,Democrat,Bernie Sanders,9497,0.472
1366,California,CA,El Dorado,6017.0,Democrat,Hillary Clinton,10367,0.515
1367,California,CA,Fresno,6019.0,Democrat,Bernie Sanders,21672,0.392
1368,California,CA,Fresno,6019.0,Democrat,Hillary Clinton,32895,0.595
1369,California,CA,Glenn,6021.0,Democrat,Bernie Sanders,644,0.488
1370,California,CA,Glenn,6021.0,Democrat,Hillary Clinton,649,0.491
1371,California,CA,Humboldt,6023.0,Democrat,Bernie Sanders,13245,0.680
1372,California,CA,Humboldt,6023.0,Democrat,Hillary Clinton,6036,0.310
1373,California,CA,Imperial,6025.0,Democrat,Bernie Sanders,2731,0.318
1374,California,CA,Imperial,6025.0,Democrat,Hillary Clinton,5743,0.668
1375,California,CA,Inyo,6027.0,Democrat,Bernie Sanders,957,0.547
1376,California,CA,Inyo,6027.0,Democrat,Hillary Clinton,756,0.432
1377,California,CA,Kern,6029.0,Democrat,Bernie Sanders,13475,0.404
1378,California,CA,Kern,6029.0,Democrat,Hillary Clinton,19104,0.573
1379,California,CA,Kings,6031.0,Democrat,Bernie Sanders,2548,0.385
1380,California,CA,Kings,6031.0,Democrat,Hillary Clinton,3921,0.592
1381,California,CA,Lake,6033.0,Democrat,Bernie Sanders,2704,0.521
1382,California,CA,Lake,6033.0,Democrat,Hillary Clinton,2408,0.464
1383,California,CA,Lassen,6035.0,Democrat,Bernie Sanders,770,0.508
1384,California,CA,Lassen,6035.0,Democrat,Hillary Clinton,690,0.455
1385,California,CA,Los Angeles,6037.0,Democrat,Bernie Sanders,434656,0.420
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.570
1387,California,CA,Madera,6039.0,Democrat,Bernie Sanders,3626,0.417
1388,California,CA,Madera,6039.0,Democrat,Hillary Clinton,4831,0.556
1389,California,CA,Marin,6041.0,Democrat,Bernie Sanders,19848,0.420
1390,California,CA,Marin,6041.0,Democrat,Hillary Clinton,27238,0.576
1391,California,CA,Mariposa,6043.0,Democrat,Bernie Sanders,1050,0.512
1392,California,CA,Mariposa,6043.0,Democrat,Hillary Clinton,963,0.470
1393,California,CA,Mendocino,6045.0,Democrat,Bernie Sanders,4654,0.629
1394,California,CA,Mendocino,6045.0,Democrat,Hillary Clinton,2690,0.364
1395,California,CA,Merced,6047.0,Democrat,Bernie Sanders,5190,0.413
1396,California,CA,Merced,6047.0,Democrat,Hillary Clinton,7169,0.570
1397,California,CA,Modoc,6049.0,Democrat,Bernie Sanders,280,0.507
1398,California,CA,Modoc,6049.0,Democrat,Hillary Clinton,240,0.435
1399,California,CA,Mono,6051.0,Democrat,Bernie Sanders,917,0.546
1400,California,CA,Mono,6051.0,Democrat,Hillary Clinton,755,0.449
1401,California,CA,Monterey,6053.0,Democrat,Bernie Sanders,12894,0.425
1402,California,CA,Monterey,6053.0,Democrat,Hillary Clinton,17126,0.565
1403,California,CA,Napa,6055.0,Democrat,Bernie Sanders,4781,0.390
1404,California,CA,Napa,6055.0,Democrat,Hillary Clinton,7370,0.602
1405,California,CA,Nevada,6057.0,Democrat,Bernie Sanders,8472,0.598
1406,California,CA,Nevada,6057.0,Democrat,Hillary Clinton,5591,0.395
1407,California,CA,Orange,6059.0,Democrat,Bernie Sanders,100836,0.445
1408,California,CA,Orange,6059.0,Democrat,Hillary Clinton,123723,0.546
1409,California,CA,Placer,6061.0,Democrat,Bernie Sanders,12787,0.420
1410,California,CA,Placer,6061.0,Democrat,Hillary Clinton,17299,0.569
1411,California,CA,Plumas,6063.0,Democrat,Bernie Sanders,1476,0.537
1412,California,CA,Plumas,6063.0,Democrat,Hillary Clinton,1209,0.440
1413,California,CA,Riverside,6065.0,Democrat,Bernie Sanders,47988,0.390
1414,California,CA,Riverside,6065.0,Democrat,Hillary Clinton,73724,0.599
1415,California,CA,Sacramento,6067.0,Democrat,Bernie Sanders,50567,0.421
1416,California,CA,Sacramento,6067.0,Democrat,Hillary Clinton,68248,0.569
1417,California,CA,San Benito,6069.0,Democrat,Bernie Sanders,1439,0.410
1418,California,CA,San Benito,6069.0,Democrat,Hillary Clinton,2022,0.577
1419,California,CA,San Bernardino,6071.0,Democrat,Bernie Sanders,51770,0.415
1420,California,CA,San Bernardino,6071.0,Democrat,Hillary Clinton,71246,0.572
1421,California,CA,San Diego,6073.0,Democrat,Bernie Sanders,111898,0.441
1422,California,CA,San Diego,6073.0,Democrat,Hillary Clinton,139813,0.551
1423,California,CA,San Francisco,6075.0,Democrat,Bernie Sanders,67191,0.439
1424,California,CA,San Francisco,6075.0,Democrat,Hillary Clinton,85070,0.556
1425,California,CA,San Joaquin,6077.0,Democrat,Bernie Sanders,16329,0.388
1426,California,CA,San Joaquin,6077.0,Democrat,Hillary Clinton,25118,0.598
1427,California,CA,San Luis Obispo,6079.0,Democrat,Bernie Sanders,16147,0.486
1428,California,CA,San Luis Obispo,6079.0,Democrat,Hillary Clinton,16833,0.506
1429,California,CA,San Mateo,6081.0,Democrat,Bernie Sanders,30003,0.386
1430,California,CA,San Mateo,6081.0,Democrat,Hillary Clinton,47358,0.609
1431,California,CA,Santa Barbara,6083.0,Democrat,Bernie Sanders,22976,0.490
1432,California,CA,Santa Barbara,6083.0,Democrat,Hillary Clinton,23543,0.502
1433,California,CA,Santa Clara,6085.0,Democrat,Bernie Sanders,70468,0.388
...,...,...,...,...,...,...,...,...
24432,Wisconsin,WI,Oneida,55085.0,Republican,Ted Cruz,3231,0.361
24433,Wisconsin,WI,Outagamie,55087.0,Republican,Donald Trump,13848,0.369
24434,Wisconsin,WI,Outagamie,55087.0,Republican,John Kasich,4255,0.113
24435,Wisconsin,WI,Outagamie,55087.0,Republican,Ted Cruz,18621,0.496
24436,Wisconsin,WI,Ozaukee,55089.0,Republican,Donald Trump,5764,0.205
24437,Wisconsin,WI,Ozaukee,55089.0,Republican,John Kasich,4829,0.172
24438,Wisconsin,WI,Ozaukee,55089.0,Republican,Ted Cruz,16919,0.602
24439,Wisconsin,WI,Pepin,55091.0,Republican,Donald Trump,607,0.454
24440,Wisconsin,WI,Pepin,55091.0,Republican,John Kasich,154,0.115
24441,Wisconsin,WI,Pepin,55091.0,Republican,Ted Cruz,546,0.408
24442,Wisconsin,WI,Pierce,55093.0,Republican,Donald Trump,2822,0.405
24443,Wisconsin,WI,Pierce,55093.0,Republican,John Kasich,994,0.143
24444,Wisconsin,WI,Pierce,55093.0,Republican,Ted Cruz,2822,0.405
24445,Wisconsin,WI,Polk,55095.0,Republican,Donald Trump,3542,0.462
24446,Wisconsin,WI,Polk,55095.0,Republican,John Kasich,804,0.105
24447,Wisconsin,WI,Polk,55095.0,Republican,Ted Cruz,3001,0.392
24448,Wisconsin,WI,Portage,55097.0,Republican,Donald Trump,5112,0.402
24449,Wisconsin,WI,Portage,55097.0,Republican,John Kasich,1361,0.107
24450,Wisconsin,WI,Portage,55097.0,Republican,Ted Cruz,5866,0.462
24451,Wisconsin,WI,Price,55099.0,Republican,Donald Trump,1673,0.529
24452,Wisconsin,WI,Price,55099.0,Republican,John Kasich,246,0.078
24453,Wisconsin,WI,Price,55099.0,Republican,Ted Cruz,1147,0.363
24454,Wisconsin,WI,Racine,55101.0,Republican,Donald Trump,11756,0.321
24455,Wisconsin,WI,Racine,55101.0,Republican,John Kasich,5269,0.144
24456,Wisconsin,WI,Racine,55101.0,Republican,Ted Cruz,18698,0.511
24457,Wisconsin,WI,Richland,55103.0,Republican,Donald Trump,1434,0.446
24458,Wisconsin,WI,Richland,55103.0,Republican,John Kasich,503,0.157
24459,Wisconsin,WI,Richland,55103.0,Republican,Ted Cruz,1157,0.360
24460,Wisconsin,WI,Rock,55105.0,Republican,Donald Trump,10264,0.416
24461,Wisconsin,WI,Rock,55105.0,Republican,John Kasich,4743,0.192
24462,Wisconsin,WI,Rock,55105.0,Republican,Ted Cruz,9038,0.366
24463,Wisconsin,WI,Rusk,55107.0,Republican,Donald Trump,1617,0.495
24464,Wisconsin,WI,Rusk,55107.0,Republican,John Kasich,220,0.067
24465,Wisconsin,WI,Rusk,55107.0,Republican,Ted Cruz,1339,0.410
24466,Wisconsin,WI,Sauk,55111.0,Republican,Donald Trump,4697,0.421
24467,Wisconsin,WI,Sauk,55111.0,Republican,John Kasich,2195,0.197
24468,Wisconsin,WI,Sauk,55111.0,Republican,Ted Cruz,3901,0.350
24469,Wisconsin,WI,Sawyer,55113.0,Republican,Donald Trump,2034,0.539
24470,Wisconsin,WI,Sawyer,55113.0,Republican,John Kasich,450,0.119
24471,Wisconsin,WI,Sawyer,55113.0,Republican,Ted Cruz,1168,0.309
24472,Wisconsin,WI,Shawano,55115.0,Republican,Donald Trump,4269,0.459
24473,Wisconsin,WI,Shawano,55115.0,Republican,John Kasich,623,0.067
24474,Wisconsin,WI,Shawano,55115.0,Republican,Ted Cruz,4218,0.453
24475,Wisconsin,WI,Sheboygan,55117.0,Republican,Donald Trump,6532,0.251
24476,Wisconsin,WI,Sheboygan,55117.0,Republican,John Kasich,3255,0.125
24477,Wisconsin,WI,Sheboygan,55117.0,Republican,Ted Cruz,15545,0.597
24478,Wisconsin,WI,St. Croix,55109.0,Republican,Donald Trump,6700,0.393
24479,Wisconsin,WI,St. Croix,55109.0,Republican,John Kasich,2655,0.156
24480,Wisconsin,WI,St. Croix,55109.0,Republican,Ted Cruz,6892,0.405
24481,Wisconsin,WI,Taylor,55119.0,Republican,Donald Trump,2100,0.464
24482,Wisconsin,WI,Taylor,55119.0,Republican,John Kasich,316,0.070
24483,Wisconsin,WI,Taylor,55119.0,Republican,Ted Cruz,1899,0.420
24484,Wisconsin,WI,Trempealeau,55121.0,Republican,Donald Trump,2414,0.499
24485,Wisconsin,WI,Trempealeau,55121.0,Republican,John Kasich,530,0.110
24486,Wisconsin,WI,Trempealeau,55121.0,Republican,Ted Cruz,1778,0.368
24487,Wisconsin,WI,Vernon,55123.0,Republican,Donald Trump,2437,0.476
24488,Wisconsin,WI,Vernon,55123.0,Republican,John Kasich,635,0.124
24489,Wisconsin,WI,Vernon,55123.0,Republican,Ted Cruz,1878,0.367
24490,Wisconsin,WI,Vilas,55125.0,Republican,Donald Trump,3241,0.521
24491,Wisconsin,WI,Vilas,55125.0,Republican,John Kasich,832,0.134
24492,Wisconsin,WI,Vilas,55125.0,Republican,Ted Cruz,2006,0.322
24493,Wisconsin,WI,Walworth,55127.0,Republican,Donald Trump,7534,0.341
24494,Wisconsin,WI,Walworth,55127.0,Republican,John Kasich,3328,0.151
24495,Wisconsin,WI,Walworth,55127.0,Republican,Ted Cruz,10719,0.485
24496,Wisconsin,WI,Washburn,55129.0,Republican,Donald Trump,1926,0.497
24497,Wisconsin,WI,Washburn,55129.0,Republican,John Kasich,443,0.114
24498,Wisconsin,WI,Washburn,55129.0,Republican,Ted Cruz,1359,0.351
24499,Wisconsin,WI,Washington,55131.0,Republican,Donald Trump,9580,0.235
24500,Wisconsin,WI,Washington,55131.0,Republican,John Kasich,4823,0.118
24501,Wisconsin,WI,Washington,55131.0,Republican,Ted Cruz,25505,0.626
24502,Wisconsin,WI,Waukesha,55133.0,Republican,Donald Trump,27186,0.221
24503,Wisconsin,WI,Waukesha,55133.0,Republican,John Kasich,18521,0.150
24504,Wisconsin,WI,Waukesha,55133.0,Republican,Ted Cruz,75123,0.610
24505,Wisconsin,WI,Waupaca,55135.0,Republican,Donald Trump,4737,0.429
24506,Wisconsin,WI,Waupaca,55135.0,Republican,John Kasich,817,0.074
24507,Wisconsin,WI,Waupaca,55135.0,Republican,Ted Cruz,5194,0.471
24508,Wisconsin,WI,Waushara,55137.0,Republican,Donald Trump,2391,0.451
24509,Wisconsin,WI,Waushara,55137.0,Republican,John Kasich,371,0.070
24510,Wisconsin,WI,Waushara,55137.0,Republican,Ted Cruz,2390,0.451
24511,Wisconsin,WI,Winnebago,55139.0,Republican,Donald Trump,13293,0.388
24512,Wisconsin,WI,Winnebago,55139.0,Republican,John Kasich,3952,0.115
24513,Wisconsin,WI,Winnebago,55139.0,Republican,Ted Cruz,16049,0.469
24514,Wisconsin,WI,Wood,55141.0,Republican,Donald Trump,6941,0.432
24515,Wisconsin,WI,Wood,55141.0,Republican,John Kasich,1479,0.092
24516,Wisconsin,WI,Wood,55141.0,Republican,Ted Cruz,7220,0.450

In [110]:
df[df['state_abbreviation'] == 'CA']['votes'].sum()

4938197

In [112]:
df.groupby(['state', 'candidate'])['votes'].sum()

state           candidate
Alabama         Ben Carson           87517
                Bernie Sanders       76399
                Donald Trump        371735
                Hillary Clinton     309928
                John Kasich          37970
                Marco Rubio         159802
                Ted Cruz            180608
Alaska          Ben Carson            2401
                Bernie Sanders         440
                Donald Trump          7346
                Hillary Clinton         99
                John Kasich            892
                Marco Rubio           3318
                Ted Cruz              7973
Arizona         Bernie Sanders      163400
                Donald Trump        249916
                Hillary Clinton     235697
                John Kasich          53040
                Ted Cruz            132147
Arkansas        Ben Carson           23173
                Bernie Sanders       64868
                Donald Trump        133144
                Hillary Clinton     144580
                John Kasich          15098
                Marco Rubio         101235
                Ted Cruz            123873
California      Bernie Sanders     1502043
                Donald Trump       1174829
                Hillary Clinton    1940580
                John Kasich         176620
                Ted Cruz            144125
Colorado        Bernie Sanders       71928
                Hillary Clinton      49256
Connecticut     Bernie Sanders      152410
                Donald Trump        123367
                Hillary Clinton     170075
                John Kasich          60481
                Ted Cruz             24969
Delaware        Bernie Sanders       36659
                Donald Trump         42472
                Hillary Clinton      55950
                John Kasich          14225
                Ted Cruz             11110
Florida         Bernie Sanders      566603
                Donald Trump       1077221
                Hillary Clinton    1097400
                John Kasich         159412
                Marco Rubio         636653
                Ted Cruz            403640
Georgia         Ben Carson           80503
                Bernie Sanders      214332
                Donald Trump        501707
                Hillary Clinton     543008
                John Kasich          72303
                Marco Rubio         315979
                Ted Cruz            305109
Hawaii          Bernie Sanders       23531
                Donald Trump          5677
                Hillary Clinton      10127
                John Kasich           1413
                Marco Rubio           1759
                Ted Cruz              4379
Idaho           Bernie Sanders       18640
                Donald Trump         62478
                Hillary Clinton       5065
                John Kasich          16517
                Marco Rubio          35347
                Ted Cruz            100942
Illinois        Bernie Sanders      975659
                Donald Trump        551464
                Hillary Clinton    1012175
                John Kasich         279778
                Marco Rubio         123066
                Ted Cruz            430395
Indiana         Bernie Sanders      335256
                Donald Trump        590460
                Hillary Clinton     303382
                John Kasich          83913
                Ted Cruz            406280
Iowa             Uncommitted            43
                Ben Carson           17393
                Bernie Sanders       69452
                Carly Fiorina         3485
                Chris Christie        3284
                Donald Trump         45419
                                    ...
Oklahoma        John Kasich          16515
                Marco Rubio         119562
                Ted Cruz            157941
Oregon          Bernie Sanders      320746
                Donald Trump        240804
                Hillary Clinton     251739
                John Kasich          59096
                Ted Cruz             61590
Pennsylvania    Bernie Sanders      719955
                Donald Trump        892702
                Hillary Clinton     918689
                John Kasich         304793
                Ted Cruz            340201
Rhode Island    Bernie Sanders       66720
                Donald Trump         39059
                Hillary Clinton      52493
                John Kasich          14929
                Ted Cruz              6393
South Carolina  Ben Carson           53326
                Bernie Sanders       95977
                Donald Trump        239851
                Hillary Clinton     271514
                Jeb Bush             57863
                John Kasich          56206
                Marco Rubio         165881
                Ted Cruz            164790
South Dakota    Bernie Sanders       25958
                Donald Trump         44866
                Hillary Clinton      27046
                John Kasich          10659
                Ted Cruz             11352
Tennessee       Ben Carson           64846
                Bernie Sanders      120333
                Donald Trump        332702
                Hillary Clinton     245304
                John Kasich          45243
                Marco Rubio         180989
                Ted Cruz            211159
Texas           Ben Carson          117780
                Bernie Sanders      475561
                Donald Trump        757618
                Hillary Clinton     935080
                John Kasich         120257
                Marco Rubio         502223
                Ted Cruz           1239370
Utah            Bernie Sanders       61333
                Donald Trump         24864
                Hillary Clinton      15666
                John Kasich          29773
                Ted Cruz            122567
Vermont         Ben Carson            2544
                Bernie Sanders      115863
                Donald Trump         19968
                Hillary Clinton      18335
                John Kasich          18543
                Marco Rubio          11778
                Ted Cruz              5929
Virginia        Ben Carson           60093
                Bernie Sanders      275507
                Donald Trump        355960
                Hillary Clinton     503358
                John Kasich          96519
                Marco Rubio         327042
                Ted Cruz            173193
Washington      Bernie Sanders       19159
                Donald Trump        403003
                Hillary Clinton       7140
                John Kasich          52129
                Ted Cruz             55719
West Virginia   Bernie Sanders      123860
                Donald Trump        156245
                Hillary Clinton      86354
                John Kasich          13685
                Ted Cruz             18208
Wisconsin       Bernie Sanders      567936
                Donald Trump        386370
                Hillary Clinton     432767
                John Kasich         155200
                Ted Cruz            531129
Wyoming         Bernie Sanders         156
                Donald Trump            70
                Hillary Clinton        124
                John Kasich              0
                Marco Rubio            189
                Ted Cruz               644
Name: votes, Length: 290, dtype: int64

# Operações de merge(join) no DataFrame

In [113]:
import pandas as pd
from db import DemoDB

In [114]:
database = DemoDB()

Indexing schema. This will take a second...finished!

In [115]:
database.tables

Refreshing schema. Please wait...done!

+--------+---------------+----------------------------------------------------------------------------------+
| Schema | Table         | Columns                                                                          |
+--------+---------------+----------------------------------------------------------------------------------+
| public | Album         | AlbumId, Title, ArtistId                                                         |
| public | Artist        | ArtistId, Name                                                                   |
| public | Customer      | CustomerId, FirstName, LastName, Company, Address, City, State, Country, PostalC |
|        |               | ode, Phone, Fax, Email, SupportRepId                                             |
| public | Employee      | EmployeeId, LastName, FirstName, Title, ReportsTo, BirthDate, HireDate, Address, |
|        |               |  City, State, Country, PostalCode, Phone, Fax, Email                             |
| public | Genre         | GenreId, Name                                                                    |
| public | Invoice       | InvoiceId, CustomerId, InvoiceDate, BillingAddress, BillingCity, BillingState, B |
|        |               | illingCountry, BillingPostalCode, Total                                          |
| public | InvoiceLine   | InvoiceLineId, InvoiceId, TrackId, UnitPrice, Quantity                           |
| public | MediaType     | MediaTypeId, Name                                                                |
| public | Playlist      | PlaylistId, Name                                                                 |
| public | PlaylistTrack | PlaylistId, TrackId                                                              |
| public | Track         | TrackId, Name, AlbumId, MediaTypeId, GenreId, Composer, Milliseconds, Bytes, Uni |
|        |               | tPrice                                                                           |
+--------+---------------+----------------------------------------------------------------------------------+

In [116]:
album = database.tables.Album.all()

In [117]:
album.head()

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

In [118]:
artist = database.tables.Artist.all()

In [119]:
artist.head()

   ArtistId               Name
0         1              AC/DC
1         2             Accept
2         3          Aerosmith
3         4  Alanis Morissette
4         5    Alice In Chains

In [120]:
album_artist = pd.merge(artist, album)

In [121]:
album_artist.head()

   ArtistId       Name  AlbumId                                  Title
0         1      AC/DC        1  For Those About To Rock We Salute You
1         1      AC/DC        4                      Let There Be Rock
2         2     Accept        2                      Balls to the Wall
3         2     Accept        3                      Restless and Wild
4         3  Aerosmith        5                               Big Ones

In [122]:
album_artist = pd.merge(artist, album, on='ArtistId')

In [124]:
album_artist.tail()

,ArtistId,Name,AlbumId,Title
342,271,"Mela Tenenbaum, Pro Musica Prague & Richard Kapp",342,"Locatelli: Concertos for Violin, Strings and Continuo, Vol. 3"
343,272,Emerson String Quartet,344,Schubert: The Late String Quartets & String Quintet (3 CD's)
344,273,"C. Monteverdi, Nigel Rogers - Chiaroscuro; London Baroque; London Cornett & Sackbu",345,Monteverdi: L'Orfeo
345,274,Nash Ensemble,346,Mozart: Chamber Music
346,275,Philip Glass Ensemble,347,Koyaanisqatsi (Soundtrack from the Motion Picture)

In [125]:
album.rename(columns={'ArtistId': 'Artist_Id'}, inplace=True)

In [126]:
album.head()

   AlbumId                                  Title  Artist_Id
0        1  For Those About To Rock We Salute You          1
1        2                      Balls to the Wall          2
2        3                      Restless and Wild          2
3        4                      Let There Be Rock          1
4        5                               Big Ones          3

In [127]:
album_artist = pd.merge(album, artist, left_on='Artist_Id', right_on='ArtistId')

In [128]:
album_artist.head()

,AlbumId,Title,Artist_Id,ArtistId,Name
0,1,For Those About To Rock We Salute You,1,1,AC/DC
1,4,Let There Be Rock,1,1,AC/DC
2,2,Balls to the Wall,2,2,Accept
3,3,Restless and Wild,2,2,Accept
4,5,Big Ones,3,3,Aerosmith

In [130]:
album_artist = pd.merge(album, artist, left_on='Artist_Id', right_on='ArtistId').drop('Artist_Id', axis=1)

In [132]:
album_artist

,AlbumId,Title,ArtistId,Name
0,1,For Those About To Rock We Salute You,1,AC/DC
1,4,Let There Be Rock,1,AC/DC
2,2,Balls to the Wall,2,Accept
3,3,Restless and Wild,2,Accept
4,5,Big Ones,3,Aerosmith
5,6,Jagged Little Pill,4,Alanis Morissette
6,7,Facelift,5,Alice In Chains
7,8,Warner 25 Anos,6,Antônio Carlos Jobim
8,34,Chill: Brazil (Disc 2),6,Antônio Carlos Jobim
9,9,Plays Metallica By Four Cellos,7,Apocalyptica
10,10,Audioslave,8,Audioslave
11,11,Out Of Exile,8,Audioslave
12,271,Revelations,8,Audioslave
13,12,BackBeat Soundtrack,9,BackBeat
14,13,The Best Of Billy Cobham,10,Billy Cobham
15,14,Alcohol Fueled Brewtality Live! [Disc 1],11,Black Label Society
16,15,Alcohol Fueled Brewtality Live! [Disc 2],11,Black Label Society
17,16,Black Sabbath,12,Black Sabbath
18,17,Black Sabbath Vol. 4 (Remaster),12,Black Sabbath
19,18,Body Count,13,Body Count
20,19,Chemical Wedding,14,Bruce Dickinson
21,20,The Best Of Buddy Guy - The Millenium Collection,15,Buddy Guy
22,21,Prenda Minha,16,Caetano Veloso
23,22,Sozinho Remix Ao Vivo,16,Caetano Veloso
24,23,Minha Historia,17,Chico Buarque
25,24,Afrociberdelia,18,Chico Science & Nação Zumbi
26,25,Da Lama Ao Caos,18,Chico Science & Nação Zumbi
27,26,Acústico MTV [Live],19,Cidade Negra
28,27,Cidade Negra - Hits,19,Cidade Negra
29,28,Na Pista,20,Cláudio Zoli
30,29,Axé Bahia 2001,21,Various Artists
31,32,Carnaval 2001,21,Various Artists
32,45,Sambas De Enredo 2001,21,Various Artists
33,53,Vozes do MPB,21,Various Artists
34,30,BBC Sessions [Disc 1] [Live],22,Led Zeppelin
35,44,Physical Graffiti [Disc 1],22,Led Zeppelin
36,127,BBC Sessions [Disc 2] [Live],22,Led Zeppelin
37,128,Coda,22,Led Zeppelin
38,129,Houses Of The Holy,22,Led Zeppelin
39,130,In Through The Out Door,22,Led Zeppelin
40,131,IV,22,Led Zeppelin
41,132,Led Zeppelin I,22,Led Zeppelin
42,133,Led Zeppelin II,22,Led Zeppelin
43,134,Led Zeppelin III,22,Led Zeppelin
44,135,Physical Graffiti [Disc 2],22,Led Zeppelin
45,136,Presence,22,Led Zeppelin
46,137,The Song Remains The Same (Disc 1),22,Led Zeppelin
47,138,The Song Remains The Same (Disc 2),22,Led Zeppelin
48,31,Bongo Fury,23,Frank Zappa & Captain Beefheart
49,33,Chill: Brazil (Disc 1),24,Marcos Valle
50,35,Garage Inc. (Disc 1),50,Metallica
51,148,Black Album,50,Metallica
52,149,Garage Inc. (Disc 2),50,Metallica
53,150,Kill 'Em All,50,Metallica
54,151,Load,50,Metallica
55,152,Master Of Puppets,50,Metallica
56,153,ReLoad,50,Metallica
57,154,Ride The Lightning,50,Metallica
58,155,St. Anger,50,Metallica
59,156,...And Justice For All,50,Metallica
60,36,Greatest Hits II,51,Queen
61,185,Greatest Hits I,51,Queen
62,186,News Of The World,51,Queen
63,37,Greatest Kiss,52,Kiss
64,126,Unplugged [Live],52,Kiss
65,38,Heart of the Night,53,Spyro Gyra
66,204,Morning Dance,53,Spyro Gyra
67,39,International Superhits,54,Green Day
68,89,American Idiot,54,Green Day
69,40,Into The Light,55,David Coverdale
70,41,Meus Momentos,56,Gonzaguinha
71,42,Minha História,57,Os Mutantes
72,43,MK III The Final Concerts [Disc 1],58,Deep Purple
73,50,The Final Concerts (Disc 2),58,Deep Purple
74,58,Come Taste The Band,58,Deep Purple
75,59,Deep Purple In Rock,58,Deep Purple
76,60,Fireball,58,Deep Purple
77,61,Knocking at Your Back Door: The Best Of Deep Purple in the 80's,58,Deep Purple
78,62,Machine Head,58,Deep Purple
79,63,Purpendicular,58,Deep Purple
80,64,Slaves And Masters,58,Deep Purple
81,65,Stormbringer,58,Deep Purple
82,66,The Battle Rages On,58,Deep Purple
83,46,Supernatural,59,Santana
84,197,Santana - As Years Go By,59,Santana
...,...,...,...,...
262,262,Quiet Songs,197,Aisha Duo
263,263,Muso Ko,198,Habib Koité and Bamada
264,264,Realize,199,Karsh Kale
265,265,Every Kind of Light,200,The Posies
266,266,Duos II,201,Luciana Souza/Romero Lubambo
267,267,Worlds,202,Aaron Goldberg
268,268,The Best of Beethoven,203,Nicolaus Esterhazy Sinfonia
269,269,Temple of the Dog,204,Temple of the Dog
270,270,Carry On,205,Chris Cornell
271,272,Adorate Deum: Gregorian Chant from the Proper of the Mass,206,Alberto Turco & Nova Schola Gregoriana
272,273,Allegri: Miserere,207,"Richard Marlow & The Choir of Trinity College, Cambridge"
273,274,Pachelbel: Canon & Gigue,208,English Concert & Trevor Pinnock
274,315,Handel: Music for the Royal Fireworks (Original Version 1749),208,English Concert & Trevor Pinnock
275,275,Vivaldi: The Four Seasons,209,"Anne-Sophie Mutter, Herbert Von Karajan & Wiener Philharmoniker"
276,276,Bach: Violin Concertos,210,"Hilary Hahn, Jeffrey Kahane, Los Angeles Chamber Orchestra & Margaret Batjer"
277,277,Bach: Goldberg Variations,211,Wilhelm Kempff
278,278,Bach: The Cello Suites,212,Yo-Yo Ma
279,279,Handel: The Messiah (Highlights),213,Scholars Baroque Ensemble
280,280,The World of Classical Favourites,214,Academy of St. Martin in the Fields & Sir Neville Marriner
281,281,Sir Neville Marriner: A Celebration,215,Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner
282,282,Mozart: Wind Concertos,216,"Berliner Philharmoniker, Claudio Abbado & Sabine Meyer"
283,283,Haydn: Symphonies 99 - 104,217,Royal Philharmonic Orchestra & Sir Thomas Beecham
284,284,Beethoven: Symhonies Nos. 5 & 6,218,Orchestre Révolutionnaire et Romantique & John Eliot Gardiner
285,285,A Soprano Inspired,219,"Britten Sinfonia, Ivor Bolton & Lesley Garrett"
286,286,Great Opera Choruses,220,"Chicago Symphony Chorus, Chicago Symphony Orchestra & Sir Georg Solti"
287,287,Wagner: Favourite Overtures,221,Sir Georg Solti & Wiener Philharmoniker
288,288,"Fauré: Requiem, Ravel: Pavane & Others",222,"Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair"
289,289,Tchaikovsky: The Nutcracker,223,London Symphony Orchestra & Sir Charles Mackerras
290,290,The Last Night of the Proms,224,Barry Wordsworth & BBC Concert Orchestra
291,291,Puccini: Madama Butterfly - Highlights,225,"Herbert Von Karajan, Mirella Freni & Wiener Philharmoniker"
292,292,"Holst: The Planets, Op. 32 & Vaughan Williams: Fantasies",226,Eugene Ormandy
293,311,Strauss: Waltzes,226,Eugene Ormandy
294,343,Respighi:Pines of Rome,226,Eugene Ormandy
295,293,Pavarotti's Opera Made Easy,227,Luciano Pavarotti
296,294,Great Performances - Barber's Adagio and Other Romantic Favorites for Strings,228,Leonard Bernstein & New York Philharmonic
297,295,Carmina Burana,229,Boston Symphony Orchestra & Seiji Ozawa
298,296,"A Copland Celebration, Vol. I",230,Aaron Copland & London Symphony Orchestra
299,297,Bach: Toccata & Fugue in D Minor,231,Ton Koopman
300,298,Prokofiev: Symphony No.1,232,Sergei Prokofiev & Yuri Temirkanov
301,299,Scheherazade,233,Chicago Symphony Orchestra & Fritz Reiner
302,300,Bach: The Brandenburg Concertos,234,Orchestra of The Age of Enlightenment
303,301,Chopin: Piano Concertos Nos. 1 & 2,235,"Emanuel Ax, Eugene Ormandy & Philadelphia Orchestra"
304,302,Mascagni: Cavalleria Rusticana,236,James Levine
305,303,Sibelius: Finlandia,237,Berliner Philharmoniker & Hans Rosbaud
306,304,Beethoven Piano Sonatas: Moonlight & Pastorale,238,Maurizio Pollini
307,305,Great Recordings of the Century - Mahler: Das Lied von der Erde,240,Gustav Mahler
308,306,Elgar: Cello Concerto & Vaughan Williams: Fantasias,241,"Felix Schmidt, London Symphony Orchestra & Rafael Frühbeck de Burgos"
309,307,"Adams, John: The Chairman Dances",242,Edo de Waart & San Francisco Symphony
310,308,"Tchaikovsky: 1812 Festival Overture, Op.49, Capriccio Italien & Beethoven: Wellington'...",243,Antal Doráti & London Symphony Orchestra
311,309,Palestrina: Missa Papae Marcelli & Allegri: Miserere,244,Choir Of Westminster Abbey & Simon Preston
312,310,Prokofiev: Romeo & Juliet,245,Michael Tilson Thomas & San Francisco Symphony
313,312,Berlioz: Symphonie Fantastique,245,Michael Tilson Thomas & San Francisco Symphony
314,313,Bizet: Carmen Highlights,246,"Chor der Wiener Staatsoper, Herbert Von Karajan & Wiener Philharmoniker"
315,314,English Renaissance,247,The King's Singers
316,316,Grieg: Peer Gynt Suites & Sibelius: Pelléas et Mélisande,248,Berliner Philharmoniker & Herbert Von Karajan
317,320,Mozart: Symphonies Nos. 40 & 41,248,Berliner Philharmoniker & Herbert Von Karajan
318,336,Prokofiev: Symphony No.5 & Stravinksy: Le Sacre Du Printemps,248,Berliner Philharmoniker & Herbert Von Karajan
319,317,Mozart Gala: Famous Arias,249,"Sir Georg Solti, Sumi Jo & Wiener Philharmoniker"
320,318,SCRIABIN: Vers la flamme,250,Christopher O'Riley
321,319,Armada: Music from the Courts of England and Spain,251,Fretwork
322,321,Back to Black,252,Amy Winehouse
323,322,Frank,252,Amy Winehouse
324,323,Carried to Dust (Bonus Track Version),253,Calexico
325,324,Beethoven: Symphony No. 6 'Pastoral' Etc.,254,Otto Klemperer & Philharmonia Orchestra
326,325,Bartok: Violin & Viola Concertos,255,Yehudi Menuhin
327,326,Mendelssohn: A Midsummer Night's Dream,256,Philharmonia Orchestra & Sir Neville Marriner
328,327,Bach: Orchestral Suites Nos. 1 - 4,257,"Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart"
329,328,"Charpentier: Divertissements, Airs & Concerts",258,Les Arts Florissants & William Christie
330,329,South American Getaway,259,The 12 Cellists of The Berlin Philharmonic
331,330,Górecki: Symphony No. 3,260,Adrian Leaper & Doreen de Feis
332,331,Purcell: The Fairy Queen,261,"Roger Norrington, London Classical Players"
333,332,The Ultimate Relexation Album,262,Charles Dutoit & L'Orchestre Symphonique de Montréal
334,333,Purcell: Music for the Queen Mary,263,"Equale Brass Ensemble, John Eliot Gardiner & Munich Monteverdi Orchestra and Choir"
335,334,Weill: The Seven Deadly Sins,264,Kent Nagano and Orchestre de l'Opéra de Lyon
336,335,"J.S. Bach: Chaconne, Suite in E Minor, Partita in E Major & Prelude, Fugue and Allegro",265,Julian Bream
337,337,"Szymanowski: Piano Works, Vol. 1",266,Martin Roscoe
338,338,Nielsen: The Six Symphonies,267,Göteborgs Symfoniker & Neeme Järvi
339,339,Great Recordings of the Century: Paganini's 24 Caprices,268,Itzhak Perlman
340,340,Liszt - 12 Études D'Execution Transcendante,269,Michele Campanella
341,341,"Great Recordings of the Century - Shubert: Schwanengesang, 4 Lieder",270,Gerald Moore
342,342,"Locatelli: Concertos for Violin, Strings and Continuo, Vol. 3",271,"Mela Tenenbaum, Pro Musica Prague & Richard Kapp"
343,344,Schubert: The Late String Quartets & String Quintet (3 CD's),272,Emerson String Quartet
344,345,Monteverdi: L'Orfeo,273,"C. Monteverdi, Nigel Rogers - Chiaroscuro; London Baroque; London Cornett & Sackbu"
345,346,Mozart: Chamber Music,274,Nash Ensemble
346,347,Koyaanisqatsi (Soundtrack from the Motion Picture),275,Philip Glass Ensemble

In [133]:
alunos1 = pd.DataFrame({
    'nome': ['Maria', 'Sofia'],
    'nota': [8, 9],
})
alunos2 = pd.DataFrame({
    'nome': ['João', 'Pedro', 'Maria'],
    'cod': [1, 2, 3],
})

In [137]:
alunos_total = pd.merge(alunos1, alunos2, on='nome')

In [138]:
alunos_total

    nome  nota  cod
0  Maria     8    3

In [139]:
pd.merge(alunos1, alunos2, how='outer')

    nome  nota  cod
0  Maria   8.0  3.0
1  Sofia   9.0  NaN
2   João   NaN  1.0
3  Pedro   NaN  2.0

In [140]:
pd.merge(alunos1, alunos2, how='left')

    nome  nota  cod
0  Maria     8  3.0
1  Sofia     9  NaN

In [141]:
pd.merge(alunos1, alunos2, how='right')

    nome  nota  cod
0  Maria   8.0    3
1   João   NaN    1
2  Pedro   NaN    2